{% extends 'pages/employer_dashboard.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Create Company Profile{% endblock %}
{% block dashboard_employer %}
<div class="container">
    <div class="col-md-8 col-md-offset-2">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            
            <!-- Basic Information Fieldset -->
            <fieldset>
                
                <h3 class="fs-subtitle">Create Job Requisition</h3>
                <div class="form-group">
                    {{ form.category.label_tag }}
                    {{ form.category }}
                </div>
                <div class="form-group">
                    {{ form.job_title.label_tag }}
                    {{ form.job_title }}
                </div>
                <div class="form-group">
                    {{ form.custom_job_title.label_tag }}
                    {{ form.custom_job_title }}
                </div>
                <div class="form-group">
                    {{ form.skills.label_tag }}
                    {{ form.skills }}
                </div>
                <div class="form-group">
                    {{ form.required_skills.label_tag }}
                    {{ form.required_skills }}
                </div>
                <div class="form-group">
                    {{ form.soc_code.label_tag }}
                    {{ form.soc_code }}
                </div>
                <div class="form-group">
                    {{ form.department.label_tag }}
                    {{ form.department }}
                </div>
                <div class="form-group">
                    {{ form.min_experience.label_tag }}
                    {{ form.min_experience }}
                </div>
                <div class="form-group">
                    {{ form.min_degree_requirements.label_tag }}
                    {{ form.min_degree_requirements }}
                </div>
                <div class="form-group">
                    {{ form.job_type.label_tag }}
                    {{ form.job_type }}
                </div>
                <div class="form-group">
                    {{ form.salary_type.label_tag }}
                    {{ form.salary_type }}
                </div>
                <div class="form-group">
                    {{ form.min_salary_amount.label_tag }}
                    {{ form.min_salary_amount }}
                </div>
                <div class="form-group">
                    {{ form.max_salary_amount.label_tag }}
                    {{ form.max_salary_amount }}
                </div>
                <div class="form-group">
                    {{ form.work_arrangement_preference.label_tag }}
                    {{ form.work_arrangement_preference }}
                </div>
                <div class="form-group">
                    {{ form.relocatable.label_tag }}
                    {{ form.relocatable }}
                </div>
                <div class="form-group">
                    {{ form.city.label_tag }}
                    {{ form.city }}
                </div>
                <div class="form-group">
                    {{ form.state.label_tag }}
                    {{ form.state }}
                </div>
                <div class="form-group">
                    {{ form.zip_code.label_tag }}
                    {{ form.zip_code }}
                </div>
                <div class="form-group">
                    {{ form.address1.label_tag }}
                    {{ form.address1 }}
                </div>
                <div class="form-group">
                    {{ form.certifications_required.label_tag }}
                    {{ form.certifications_required }}
                </div>
                <div class="form-group">
                    {{ form.star_rating.label_tag }}
                    {{ form.star_rating }}
                </div>
                <div class="form-group">
                    {{ form.contact_person.label_tag }}
                    {{ form.contact_person }}
                </div>
                <div class="form-group">
                    {{ form.contact_email.label_tag }}
                    {{ form.contact_email }}
                </div>
                <div class="form-group">
                    {{ form.from_date.label_tag }}
                    {{ form.from_date }}
                </div>
                <div class="form-group">
                    {{ form.to_date.label_tag }}
                    {{ form.to_date }}
                </div>
                <div class="form-group">
                    {{ form.start_time.label_tag }}
                    {{ form.start_time }}
                </div>
                <div class="form-group">
                    {{ form.end_time.label_tag }}
                    {{ form.end_time }}
                </div>
                <div class="form-group">
                    {{ form.job_description.label_tag }}
                    {{ form.job_description }}
                </div>
                <div class="form-group">
                    {{ form.preference_action.label_tag }}
                    {{ form.preference_action }}
                </div>
                <button type="submit" class="action-button">Submit</button>
            </fieldset>

            <!-- Other Fieldsets (if any) -->

        </form>
    </div>
</div>
{% endblock %}