{% extends '_base.html' %}
{% load crispy_forms_tags %}

{% block title %}Log in{% endblock %}

{% block main %}
<div class="my-5 py-3 mx-1">
  <div class="card border-warning1 m-auto my-5 mb-3 shadow" style="max-width: 30rem;">
    <div class="card-header text-center "><h6 class="fontColor-orang">Log in</h6></div>
    <div class="card-body ">
      <form method="post" class="m-auto">
        {% csrf_token %}
        {{form|crispy}}
        
        <div class="d-grid gap-2 py-2 text-center">
          <button class="btn-booster-orang text-decoration-none">LOG IN</button>
        </div>
      </form>
    </div>
    <div class="card-footer">
      <p>
        Need an account?
        <a href="{% url 'account_signup' %}">Register</a>.<br>
        Lost your password?
        <a href="{% url 'account_reset_password' %}">Reset it</a>.
      </p>
    </div>
  </div>
</div>
{% endblock %}