{% extends '_base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}My Account{% endblock title %}

{% block main %}
<div class="container my-5 py-3 mx-auto">
  <div class="card border-warning1 m-auto my-5 mb-3 shadow " style="max-width: 35rem;">
    <div class="card-header text-center">My Account</div>
    <div class="card-body">
       
        {% if user.avatar and not form.avatar.errors %}
       
        <img src="{{ user.avatar.url }}" alt="Avatar"
          class="d-block shadow rounded-circle mx-auto" width="55" height="55"/>
        {% endif %}
        <form method="post" enctype="multipart/form-data" class="m-auto" novalidate>
          {% csrf_token %}
          {{ form|crispy }}
          <button class="form-control btn btn-sm btn-outline-primary">UPDATE</button>
        </form>
    </div>
    <div class="card-footer text-center">
      <p><a href="{% url 'account_change_password' %}">Change Password</a></p>
    </div>
</div>
</div>
{% endblock %}