{% extends '_base.html' %}
{% load crispy_forms_tags %}

{% block title %}Change Password{% endblock title %}

{% block main %}
<div class="container my-5 py-3 mx-1">
  <div class="card border-warning1 m-auto my-5 mb-3 shadow" style="max-width: 30rem;">
  <div class="card-header text-center">Change Password</div>
  <div class="card-body">
    <form method="post" action="/account/password/change/">
      {% csrf_token %}

      <div id="div_id_oldpassword" class="mb-3"> 
          <label for="id_oldpassword" class="form-label requiredField">Current Password<span class="asteriskField">*</span></label> 
          <div class="input-group">
              <input type="password" name="oldpassword" placeholder="Current Password" autocomplete="current-password" class="passwordinput form-control" required="" id="id_oldpassword"> 
              <span class="input-group-text">
                  <i class="fa fa-eye toggle-password" aria-hidden="true"></i>
              </span>
          </div>
      </div>

      <div id="div_id_password1" class="mb-3"> 
          <label for="id_password1" class="form-label requiredField">New Password<span class="asteriskField">*</span></label> 
          <div class="input-group">
              <input type="password" name="password1" placeholder="New Password" autocomplete="new-password" class="passwordinput form-control" required="" id="id_password1"> 
              <span class="input-group-text">
                  <i class="fa fa-eye toggle-password" aria-hidden="true"></i>
              </span>
          </div>
      </div> 

      <div id="div_id_password2" class="mb-3"> 
          <label for="id_password2" class="form-label requiredField">New Password (again)<span class="asteriskField">*</span></label> 
          <div class="input-group">
              <input type="password" name="password2" placeholder="New Password (again)" class="passwordinput form-control" required="" id="id_password2"> 
              <span class="input-group-text">
                  <i class="fa fa-eye toggle-password" aria-hidden="true"></i>
              </span>
          </div>
      </div>
      <div class="d-flex gap-2 col-8 mx-auto">
        <button class="btn btn-sm btn-outline-primary">Change Password </button>
          <a href="{% url "my-account" %}" class="btn btn-sm btn-outline-secondary">Cancel</a>
      </div>
      
  </form>
  </div>
</div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
      const togglePassword = document.querySelectorAll('.toggle-password');
      togglePassword.forEach(function(icon) {
          icon.addEventListener('click', function() {
              const passwordInput = this.parentElement.previousElementSibling;
              const type = passwordInput.getAttribute('type') === 'password' ? 'text' : 'password';
              passwordInput.setAttribute('type', type);
          });
      });
  });
</script>
{% endblock %}


