{% extends '_base.html' %}
{% load crispy_forms_tags %}

{% block title %}Password Changed{% endblock %}

{% block main %}
<div class="my-5 py-3 mx-1">
  <div class="card border-warning1 m-auto my-5 mb-3 shadow" style="max-width: 30rem;">
  <div class="card-header text-center">Password Changed</div>
  <div class="card-body">
    <p class="card-text text-center">
      Your password has been changed.
      <a href="{% url 'account_login' %}">Log in</a>.
    </p>
  </div>
</div>
</div>
{% endblock %}