{% extends 'pages/employer_dashboard.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load user_tags %}
{% block title %}Create Company Profile{% endblock %}
{% block dashboard_employer %}

<div class="container ">
    {% for profile in company_profiles %}
     <!-- Area logo -->
    <div class="row">
       <div class="col-xl-12 col-lg-12">
            <div class="card shadow mb-4 border-left-warning">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <div class="d-flex gap-4"> 
                    <img src="{{ profile.logo.url }}" alt="mdo" width="40" height="40" class="rounded-circle ">
                    
                    <h6 class="m-2 font-weight-bold text-warning">
                        {{profile.company_name|upper}}
                    </h6>
                    </div>
                    <div class="dropdown">
                        <button class="btn btn-light border-0 ropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi bi-three-dots-vertical"></i>
                        </button>
                        <ul class="dropdown-menu">
                        <li><a class="dropdown-item" type="button" href="{% url 'employer:company-profile-update' slug=profile.slug %}" >Update</a></li>
                        {% if user.is_authenticated and user|is_admin %}
                        <li><a class="dropdown-item" type="button" href="{% url 'employer:company-profile-delete' slug=profile.slug %}">Delete</a></li>
                        {% endif %}
                        <li><a class="dropdown-item" type="button" href="{% url 'employer:profile_building_progress_controller' %}">Back</a></li>
                        </ul>
                    </div>
                
                </div>
                <!-- Card Body -->
                
            </div>
       </div>
    </div>
    <!-- Area Address -->
    <div class="row">
        <div class="col-xl-8 col-lg-7 ">
            <div class="card shadow mb-4 border-left-info">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Headquarters  Location</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <h4 class="small font-weight-bold mb-2">Address :<span class="small px-3">{{ profile.headquarters_address}}</span></h4>
                    <hr class="small font-weight-light text-warning">
                    <h4 class="small font-weight-bold mb-2">City : <span class="small px-3">{{ profile.city}}</span></h4>
                    <hr class="small font-weight-light text-warning">
                    <h4 class="small font-weight-bold mb-2">State : <span class="small px-3">{{ profile.state}}</span></h4>
                    <hr class="small font-weight-light text-warning">
                    <h4 class="small font-weight-bold mb-2">Country :  <span class="small px-3">{{ profile.country}}</span></h4>
                    <hr class="small font-weight-light text-warning">
                    <h4 class="small font-weight-bold mb-2">Zip code :<span class="small px-3">{{ profile.zip_code}}</span></h4>
                  
                </div>
            </div>
        </div>

        <!-- Pie Chart -->
        <div class="col-xl-4 col-lg-5 ">
            <div class="card shadow mb-4 border-left-success">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <p class="m-0 small font-weight-bold text-primary">Discover Our Identity: Video Presentation</p>
                </div>
                <!-- Card Body -->
                <div class="card-body py-4 ">
                    <div class="ratio ratio-16x9">
                        <div class="embed-responsive-item">
                          <video controls class="embed-responsive">
                            <source src="{{ profile.video.url }}" type="{{ profile.video.content_type }}" allowfullscreen>
                          </video>
                        </div>
                      </div>
                    <div class="mt-4 text-center small">
                        <span class="mr-2">
                            <i class="fas fa-circle text-primary" aria-hidden="true"></i> Direct
                        </span>
                        <span class="mr-2">
                            <i class="fas fa-circle text-success" aria-hidden="true"></i> Social
                        </span>
                        <span class="mr-2">
                            <i class="fas fa-circle text-info" aria-hidden="true"></i> Referral
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
     <!-- Content Description-->
     <div class="row">
        <!-- Area Chart -->
        <div class="col-xl-8 col-lg-5">
            <div class="card shadow mb-4 border-left-info">
                <!-- Card Header - Dropdown -->
                <div
                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Description</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <p class="small">{{ profile.description }}</p>  
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-lg-5">
            <div class="row gap-1">
                <div class="col-lg-12">
                    <div class="card bg-light text-primary font-weight-bold  shadow border-left-info">
                        <div class="card-body">
                            Industry Catagory
                            <div class="text-black-50 small">{{profile.industry}}</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 ">
                    <div class="card bg-light text-primary mb-4 font-weight-bold shadow border-left-info">
                        <div class="card-body">
                            Numberes of Employee
                            <div class="text-black-50 small">{{profile.employees}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- Area Address -->
    <div class="row">
        <div class="col-xl-8 col-lg-7 ">
            <div class="card shadow mb-4 border-left-info">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Representative Full Name </h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <h4 class="small font-weight-bold mb-2">Full Name  :<span class="small px-3">{{ profile.representative_full_name }}</span></h4>
                    <hr class="small font-weight-light text-warning">
                    <h4 class="small font-weight-bold mb-2">Department : <span class="small px-3">{{ profile.Department}}</span></h4>
                    <hr class="small font-weight-light text-warning">
                    <h4 class="small font-weight-bold mb-2">Telephone : <span class="small px-3">{{ profile.telephone}}</span></h4>
                    <hr class="small font-weight-light text-warning">
                    <h4 class="small font-weight-bold mb-2">Website :  <span class="small px-3">{{ profile.website}}</span></h4>
                    <hr class="small font-weight-light text-warning">
                    <h4 class="small font-weight-bold mb-2">Email :<span class="small px-3">{{ profile.email}}</span></h4>
                    <hr class="small font-weight-light text-warning">
                    <h4 class="small font-weight-bold mb-2">Fax :<span class="small px-3">{{ profile.fax}}</span></h4>
                </div>
            </div>
        </div>

        <!-- Pie Chart -->
        <div class="col-xl-4 col-lg-5 ">
            <div class="card shadow mb-4 border-left-success">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Accessibility</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body py-4 ">
                    <div class="row gap-1">
                        <div class="col-lg-12">
                            <div class="card bg-light text-primary font-weight-bold  shadow ">
                                <div class="card-body p">
                                    Opening hours
                                    <div class="text-black-50 small py-2">{{profile.opening_hours}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 ">
                            <div class="card bg-light text-primary font-weight-bold shadow ">
                                <div class="card-body">
                                    Google Maps Location
                                    <div class="text-black-50 small py-2"><a href="{{profile.google_map_link}}">{{profile.google_map_link}}</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% empty %}
    <div class="row ">
        <div class="col-lg-12">
            <div class="card bg-light text-primary font-weight-bold  shadow border-left-danger">
                <div class="card-body p">
                      Oops!! Your company profiles not yet created!!.
                    <div class="text-black-50 small py-2">
                        <a class="btn btn-sm btn-outline-Jobdogg my-2 px-2" href="{% url 'employer:create-company-profile' %}">Start To Create Your Profile</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
   
    {% endfor %}
</div>
{% endblock %}