{% extends 'pages/employer_dashboard.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Create Company Profile{% endblock %}
{% block dashboard_employer %}
<link rel="stylesheet" href="{% static 'css/employer/employerMultiStepForm.css' %}">
<div class="container">

    <!-- MultiStep Form -->
    <div class="row gap-2 ">
        <div class="col-md-10 col-md-offset-5 mt-3">
            <!-- progressbar -->
            <ul id="progressbar">
                <li class="active">Basic Information </li>
                <li>Representative Information</li>
                <li>Additional Information</li>
            </ul>
       </div>
        <div class="col-md-8 col-md-offset-5">
            
            <form method="post" enctype="multipart/form-data" id="msform">
                    {% csrf_token %}
              
                <!-- fieldsets -->
                <fieldset>
                    <h3 class="fs-title">Basic Information </h3>
                    <h3 class="fs-subtitle">Tell us something more about you</h3>
                    <div class="form-group">
                        {{ form.company_name.label_tag }}
                        {{ form.company_name }}
                    </div>
                    
                    <div class="form-group">
                        {{ form.headquarters_address.label_tag }}
                        {{ form.headquarters_address }}
                    </div>
                    
                    <div class="form-group">
                        {{ form.city.label_tag }}
                        {{ form.city }}
                    </div>
                    
                    <div class="form-group">
                        {{ form.state.label_tag }}
                        {{ form.state }}
                    </div>
                    
                    <div class="form-group">
                        {{ form.country.label_tag }}
                        {{ form.country }}
                    </div>
                    
                    <div class="form-group">
                        {{ form.zip_code.label_tag }}
                        {{ form.zip_code }}
                    </div>
                    
                    <div class="form-group">
                        {{ form.logo.label_tag }}
                        {{ form.logo }}
                    </div>
                    
                    
                    <input type="button" name="next" class="next action-button" value="Next"/>
                </fieldset>
                <fieldset>
                    <h3 class="fs-title">Representative Information</h3>
                    <h3 class="fs-subtitle">Your Representative Information</h3>
                    <div class="form-group">
                        {{ form.representative_full_name.label_tag }}
                        {{ form.representative_full_name }}
                    </div>
                    
                    <div class="form-group">
                        {{ form.Department.label_tag }}
                        {{ form.Department }}
                    </div>
                    
                    <div class="form-group">
                        {{ form.telephone.label_tag }}
                        {{ form.telephone }}
                    </div>
                    
                    <div class="form-group">
                        {{ form.website.label_tag }}
                        {{ form.website }}
                    </div>
                    
                    <div class="form-group">
                        {{ form.email.label_tag }}
                        {{ form.email }}
                    </div>
                    
                    <div class="form-group">
                        {{ form.fax.label_tag }}
                        {{ form.fax }}
                    </div>
                    <input type="button" name="previous" class="previous action-button-previous" value="Previous"/>
                    <input type="button" name="next" class="next action-button" value="Next"/>
                </fieldset>
                <fieldset>
                    <h3 class="fs-title">Additional Information</h3>
                    <h3 class="fs-subtitle">Tell More About you</h3>
                    <div class="form-group">
                        {{ form.employees.label_tag }}
                        {{ form.employees }}
                    </div>
                    
                    <div class="form-group">
                        {{ form.industry.label_tag }}
                        {{ form.industry }}
                    </div>
                    
                    <div class="form-group">
                        {{ form.description.label_tag }}
                        {{ form.description }}
                    </div>
                    
                    <div class="form-group">
                        {{ form.video.label_tag }}
                        {{ form.video }}
                    </div>
                    <div class="form-group">
                        {{ form.opening_hours.label_tag }}
                        {{ form.opening_hours }}
                    </div>
                    
                    <div class="form-group">
                        {{ form.google_map_link.label_tag }}
                        {{ form.google_map_link }}
                    </div>
                    <input type="button" name="previous" class="previous action-button-previous" value="Previous"/>
                    <!--<input type="submit" name="submit" class="submit action-button" value="Submit"/>-->
                    <button type="submit" class="action-button">Submit</button>
                </fieldset>
            </form>
        </div>
    </div>
    <!-- /.MultiStep Form -->
    
</div>

{% endblock %}
