{% extends 'pages/employer_dashboard.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Create Company Profile{% endblock %}
{% block dashboard_employer %}
<div class="container-fluid ">
   <!--{{progress}}
    {{progress_percentage}}
    {{progress.is_account_created}}
    {{progress.is_company_profile_created}}

    {{progress.is_payment_information_created}}
    {{progress.is_billing_information_created}}
    {{progress.is_payment_plan_validated}}

    {{progress.is_police_accepted_created}}
    {{progress.is_contract_signed_created}}
    
    {{progress.is_billing_information_created}}-->

    <div class="row no-gutters align-items-center my-5 mx-3">
        <div class="col-auto">
            <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">{{progress_percentage}}%</div>
        </div>
        <div class="col">
            <div class="progress progress-sm mr-3">
                <div class="progress-bar bg-JobdoggOrnge" role="progressbar" style="width: {{progress_percentage}}%" aria-valuenow="{{progress_percentage}}" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>
    </div>
    <div class="row">

        <!-- Account Card  -->
        <div class="col-xl-3 col-md-6 mb-4">
            {% if progress.is_account_created %}
            <div class="card border-left-JobdoggOrnge shadow h-100 py-2">
            {% else %}
            <div class="card border-left-primary shadow h-100 py-2">
            {% endif %}
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                Account
                            </div>
                            
                            {% if progress.is_account_created %}
                            <small class="fontColor-orang"><i class="bi bi-check2-circle"></i> Completed </small> 
                            <a href="{% url 'my-account' %}" class="text-decoration-none"> <i class="bi bi-box-arrow-in-up-right mx-2 fs-6"></i></a>
                            {% else %}
                            <small>Incomplete</small>
                            {% endif %}
                            
                        </div>
                        <div class="col-auto">
                            <i class="bi bi-buildings fa-2x text-gray-300" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Profile Card -->
        <div class="col-xl-3 col-md-6 mb-4">
            {% if progress.is_company_profile_created %}
            <div class="card border-left-JobdoggOrnge shadow h-100 py-2">
            {% else %}
            <div class="card border-left-success shadow h-100 py-2">
            {% endif %}
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                Profile
                            </div>
                            {% if progress.is_company_profile_created %}
                            <small class="fontColor-orang"><i class="bi bi-check2-circle"></i> Completed</small>
                            <a href="{% url 'employer:company-profile-list' %}" class="text-decoration-none">
                                <i class="bi bi-pencil-square  mx-2 fs-6"></i></a>
                            {% else %}
                            <div class="mb-0 font-weight-bold text-gray-800 btn btn-sm btn-outline-Jobdogg">
                                <a href="{% url 'employer:create-company-profile' %}" class="text-decoration-none text-success">Create</a></div>
                            {% endif %}
                        </div>
                        <div class="col-auto">
                            <i class="bi bi-clipboard-data fa-2x text-gray-300" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- payment Card  -->
        <div class="col-xl-3 col-md-6 mb-4">
            {% if progress.is_payment_information_created %}
            <div class="card border-left-JobdoggOrnge shadow h-100 py-2">
            {% else %}
            <div class="card border-left-info shadow h-100 py-2">
            {% endif %}
            
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                payment 
                            </div>
                            {% if progress.is_payment_information_created %}
                            <small class="fontColor-orang"><i class="bi bi-check2-circle"></i> Completed</small>
                            <a href="" class="text-decoration-none">
                                <i class="bi bi-pencil-square  mx-2 fs-6"></i></a>
                            {% else %}
                            <div class="mb-0 font-weight-bold text-gray-800 btn btn-sm btn-outline-Jobdogg"><a href="" class="text-decoration-none text-info">Create</a></div>
                            {% endif %}
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-dollar-sign fa-2x text-gray-300" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- police_accepted Card  -->
        <div class="col-xl-3 col-md-6 mb-4">
            {% if progress.is_police_accepted_created %}
            <div class="card border-left-JobdoggOrnge shadow h-100 py-2">
            {% else %}
            <div class="card border-left-primary shadow h-100 py-2">
            {% endif %}
            
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                polices & Terms</div>
                            {% if progress.is_police_accepted_created  %}
                            <small class="fontColor-orang"><i class="bi bi-check2-circle"></i> Completed</small>
                            <a href="{% url 'employer:company_policies_list' %}" class="text-decoration-none">
                                <i class="bi bi-pencil-square  mx-2 fs-6"></i></a>
                            {% else %}
                            <div class="btn btn-sm btn-outline-Jobdogg"><a href="" class="text-decoration-none">Accept Polices</a></div>
                            {% endif %}
                        </div>
                        <div class="col-auto">
                            <i class="bi bi-journals fa-2x text-gray-300" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
         
    </div>
  
</div>
{% endblock %}