{% extends "_base.html" %}
{% block title %}About Us{% endblock %}
{% block main %}
<div class="container my-4 py-5">
  <h5 class="py-2 mx-2 border-bottom text-center">ALL About Us </h5>
  <div class="row">
    <div class="col-sm-12 mb-3 mb-sm-0">
      <div class="card border-0">
        <div class="card-body">
          <div class="d-flex flex-column  justify-content-center  shadow">
            <div class="list-group">
              <a href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
                <i class="bi bi-broadcast fs-1 text-jobdogg"></i>
                <div class="d-flex gap-2 w-100 justify-content-between">
                  <div>
                    <h5 class="my-1 pb-2 border-bottom border-warning text-bold text-jobdogg">Vision</h5>
                    <p class="mb-0 opacity-75 py-3 s2-font">
                      At Jobdogg.com, we envision a future where employment transcends traditional paradigms. 
                      We are not just a Job Match platform, but a pioneering Job Assignment platform, disrupting outdated staffing agencies, job boards, and resume posting websites. Our innovative model empowers employers with a comprehensive view of candidates, resulting in 90% faster hires. Employers receive pre-vetted candidates with complete background checks, references, skill assessments, and authentic video presentations. With real-time, online interviews and advanced functionalities, we redefine recruitment practices. Our integrated analytics, payroll processing, and messaging tools offer unparalleled efficiency, creating a cost-effective, time-saving solution.
                    </p>   
                  </div>
                
                </div>
              </a>
              <a href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
                <i class="bi bi-crosshair2 fs-1 text-jobdogg"></i>
                <div class="d-flex gap-2 w-100 justify-content-between">
                  <div>
                    <h5 class="my-1 pb-2 border-bottom border-warning text-bold text-jobdogg">Mission</h5>
                    <p class="mb-0 opacity-75 py-3 s2-font">
                      Jobdogg.com is dedicated to revolutionizing the employment landscape for Millennials, 
                      Generation Y, and Z. We bridge diversity and inclusion, offering a seamless platform that redefines hiring. 
                      Our commitment lies in providing a swift, flexible, and reliable means of connecting job seekers with a diverse talent pool. 
                      We go beyond conventional search firms, incorporating cutting-edge technology to present a range of opportunities, 
                      from temporary to permanent roles, including internships and second chances. We champion cultural diversity, 
                      social inclusion, and equitable opportunities for all backgrounds, skill sets, and identities.
                    </p>
                  </div>
                
                </div>
              </a>
              <a href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
                <i class="bi bi-gem fs-1 text-jobdogg"></i>
                <div class="d-flex gap-2 w-100 justify-content-between">
                  <div>
                    <h5 class="my-1 pb-2 border-bottom border-warning text-bold text-jobdogg">Values</h5>
                    <p class="mb-0 opacity-75 py-3 s2-font">
                      Jobdogg.com embodies a set of core values that drive our mission forward. We believe in transparency, 
                      eliminating middlemen to give every job seeker a fair chance. Cultural diversity and social inclusion are fundamental to our ethos, 
                      welcoming individuals from all backgrounds and experiences. We are committed to second chances, recognizing the potential for growth and contribution in every individual. 
                      Innovation fuels our approach, leveraging technology to redefine employment solutions. Integrity guides our interactions, ensuring that both employers and candidates experience a trustworthy platform. 
                      We are dedicated to cost-effective, time-saving processes that benefit both parties, while fostering a community built on trust, opportunity, and growth.
                    </p>
                  </div>
                
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
 
  </div>
</div>

{% endblock %}