{% extends 'pages/dashboard.html' %}
{% load static %}
{% block title %}CMR{% endblock %}
{% block getAdminView %}
<div class="mt-5 mb-3 mx-1">
  <div class="container">
    <section >
        <div class="tab-content" id="nav-tabContent">
          <div class="px-4 py-5 my-4 text-center">
            <h3 class="fw-bold">Admin Portal</h3>
            <div class="col-lg-6 mx-auto p-2">
             <p class="lead mb-4">CMR</p>
              <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
               <button type="button" class="btn btn-sm btn-outline-Jobdogg btn-lg px-5">Get Start</button>
              </div>
             </div>
            </div> 
            <hr class="fontColor-orang">
        </div>  
    </section>                          
  </div>
</div>
{% endblock %}