{% extends "_base.html" %}
{% load static %}
{% block title %}Contact Us{% endblock %}
{% block main %}
<div class="container py-5 my-4">
  <div class="row row-cols-1 row-cols-md-2 g-4 ">
    <div class="col">
      <div class="card shadow">
        <div class="card-body">
          <h5 class="card-title text-center border-bottom pb-1">Contact Us</h5>
          <p class="card-text">
            <form>
              <div class="mb-3">
                <label for="name" class="form-label">Name</label>
                <input type="text" class="form-control" id="name" placeholder="Enter your name">
              </div>
              <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" placeholder="Enter your email">
              </div>
              <div class="mb-3">
                <label for="message" class="form-label">Message</label>
                <textarea class="form-control" id="message" rows="5" placeholder="Enter your message"></textarea>
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </p>
        </div>
      </div>
    </div>  
    <div class="col">
      <div class="card shadow">
        <div class="card-body">
          <h5 class="card-title text-center border-bottom pb-1">Visit Us</h5>
          <p>300 S 4th St 300 S 4th St, Las Vegas, NV 89101</p>
          <p><strong>Phone: </strong>702-415-3726</p>
        </div>
        <div class="card-body">
          <iframe 
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3220.973145585314!2d-115.14386959999999!3d36.167208099999996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c8c39e50580c7f%3A0x85421e069cb2f56a!2s300%20S%204th%20St%2C%20Las%20Vegas%2C%20NV%2089101!5e0!3m2!1sen!2sus!4v1697186091580!5m2!1sen!2sus" 
          width="500" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
