{% extends "_base.html" %}
{% block title %}Dashboard{% endblock %}
{% block main %}
<div class="my-4 py-4" >
 
  <div class="container">
    <div class="row">
        <div class="col-md-2">
            <!-- Sidebar or any other relevant content -->
            <div class="card">
                <div class="card-header">Chat</div>
                <div class="card-body">
                    <!-- Chat messages or chat interface here -->
                </div>
            </div>
        </div>
        <div class="col-md-10">
            <div class="card">
                <div class="card-header">Chat</div>
                <div class="card-body">
                    <!-- Chat messages or chat interface here -->
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}