{% extends "_base.html" %}
{% load user_tags %}
{% load static %}
{% block title %}Dashboard{% endblock %}

{% block main %}
<div class="my-5 mt-4 py-2" >
    {% if user.is_authenticated and user|is_admin %}
        {% block admin %}{% endblock admin %}
    {% endif %}
    {% if user.is_authenticated and user|is_employer %}
        {% block employer %}{% endblock employer %}
    {% endif %}
    {% if user.is_authenticated and user|is_employee %}
        {% block employee %}{% endblock employee %}
    {% endif %}
   {% block getWorkView %} {% endblock getWorkView %} 
   {% block getStaffView %} {% endblock getStaffView %} 
</div>
{% endblock %}