{% extends 'pages/dashboard.html' %}
{% load static %}
{% block title %}Get Staff{% endblock %}
{% block getStaffView %}
<div class="container-fields mt-3 mb-3 mx-1">
  <ul class="nav nav-underline justify-content-center" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active text-secondary" id="home-tab" data-bs-toggle="tab" data-bs-target="#home_employer" type="button" role="tab" aria-controls="home" aria-selected="true">
        <i class="bi bi-question-octagon px-1 fontColor-orang"></i> Why Jobdogg </button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link text-secondary" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile_employer" type="button" role="tab" aria-controls="profile" aria-selected="false">
        <i class="bi bi-binoculars px-1 fontColor-orang"></i>Get Staff</button>
    </li>
  
  </ul>
  
  <!-- Tab panes -->
  <div class="tab-content">
    <div class="tab-pane active" id="home_employer" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
      <!--why jobdogg ?-->
      <div class="mt-2">
        <section class="text-center" style="background: linear-gradient(#172736, rgba(8, 8, 8, 0.699)),  url('{% static 'images/pcom1.png'%}') no-repeat ;">
          <div class="row py-lg-5 mb-5">
            <div class="col-lg-6 col-md-6 mx-auto py-3 ">
              <h3 class="fw-bold">Welcome to the Jobdogg Employer Portal</h3>
              <p class="lead mb-4">Discover 'The Right Fit' for Your Team! Our 360˚ view of candidates ensures 98% Faster hires. 
                Monitor Staffing Trends with Built-in Analytics. Mobile App Available Anywhere. Hire Smart, Save Big!.</p>
              <p>
                <a href="{% url 'employer:profile_building_progress_controller' %}" class="btn btn-sm btn-outline-Jobdogg my-3">Start Profiling</a>
              </p>
            </div>
            
          </div>
          <hr class="fontColor-orang mx-3 ">
      </section>
        {% comment %} <section >
            <div class="tab-content" id="nav-tabContent">
              <div class="px-4 py-5 my-4 text-center">
                <h3 class="fw-bold">Welcome to the Jobdogg Employer Portal</h3>
                <div class="col-lg-6 mx-auto p-2">
                 <p class="lead mb-4">Discover 'The Right Fit' for Your Team! Our 360˚ view of candidates ensures 98% Faster hires. 
                   Monitor Staffing Trends with Built-in Analytics. Mobile App Available Anywhere. Hire Smart, Save Big!.</p>
                  <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                   <button type="button" class="btn btn-sm btn-outline-Jobdogg btn-lg px-5">Get Start</button>
                  </div>
                 </div>
                </div> 
                <hr class="fontColor-orang">
            </div>  
        </section>   {% endcomment %}
       
        <section>
            <div class="container col-xxl-8 px-4 py-4">
             <div class="row flex-lg-row-reverse align-items-center g-4 py-4">
               <div class="col-10 col-sm-8 col-lg-6">
                 <img src="{% static 'images/pcom8.png' %}" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
               </div>
               <div class="col-lg-6">
                 <h1 class="display-6 fw-bold lh-1 mb-3">We are Different. why?</h1>
                 <h6 class="fw-bold lh-1 mb-3"><i class="bi bi-check2-circle px-2 fontColor-orang icon-font"></i>Find the "Right Fit" at a Lower Cost.</h6>
                 <h6 class="fw-bold lh-1 mb-3"><i class="bi bi-check2-circle px-2 fontColor-orang icon-font"></i>Experience the Power of Smart Hiring.</h6>
                 <p class="lead s3-font">Jobdogg: "Unlock Your Hiring Potential! Embrace the Future of Recruitment with 98% Faster Hires. 
                     Discover Vetted Candidates with Diverse Skill-Sets.
                     Effortlessly Evaluate Candidates with Unscripted Video Resumes. Hire On Your Terms,
                     Anytime, Anywhere. </p>
                 <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                   <button href type="button" class="btn btn-sm btn-outline-Jobdogg btn-lg px-5">Join Now </button>
                 </div>
               </div>
             </div>
             <hr class="fontColor-orang">
            </div>
        </section>
    
        <section>
            <div class="pt-5 text-center container">
              <div class="row py-lg-3">
               <div class="col-lg-10 col-md-10 mx-auto">
                 <h4 class="fw-bold lh-1 py-4">When you become a member, you'll ultimately benefit from the following list</h4>
                  <a href="#" type="button" class="btn btn-sm btn-outline-Jobdogg btn-lg px-5">Get Start</a>
                </div>
               </div>
            </div>
            <div class="album py-3 bg-light">
             <div class="container">
      
              <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-3">
              <div class="col">
                    <div class="card shadow-lg">
                        <img src="{% static 'images/pcom3.png' %}" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes"width="100%" height="100" loading="lazy" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">      
                      <div class="card-body">
                        <p class="card-text">Unscripted Video Resumes.</p>
                       
                      </div>
                    </div>
              </div>
              <div class="col">
                <div class="card shadow-lg">
                  <img src="{% static 'images/jobdoggpng.com (3).png' %}" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes"width="100%" height="100" loading="lazy" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
                  <div class="card-body">
                    <p class="card-text">Schedule live on-line interviews.</p>
                   
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card shadow-lg">
                  <img src="{% static 'images/pcom14.png' %}" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes"width="100%" height="100" loading="lazy" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
                  <div class="card-body">
                    <p class="card-text">Staffing Cost Calculater </p>
                   
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card shadow-lg">
                  <img src="{% static 'images/pcom6.png' %}" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes"width="100%" height="100" loading="lazy" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
                  <div class="card-body">
                    <p class="card-text">Job Postings Are Always FREE.</p>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card shadow-lg">
                    <img src="{% static 'images/pcom22.png' %}" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="100%" height="100" preserveAspectRatio="xMidYMid slice" focusable="false">
                  <div class="card-body">
                    <p class="card-text">Built in timecard, HR and legal compliance.</p>
                   
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card shadow-lg">
                  <img src="{% static 'images/jobdoggpng.com (4).png' %}" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes"width="100%" height="100" loading="lazy" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
                  <div class="card-body">
                    <p class="card-text">Track Staffing Levels built-in Analytics Tool.</p>
                    
                  </div>
                </div>  
              </div>
              <div class="col">
                <div class="card shadow-lg">
                    <img src="{% static 'images/multiple_job.png' %}" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes"width="100%" height="100" loading="lazy" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
                  <div class="card-body">
                    <p class="card-text">Hire How, When & Where you need Candidates.</p>
                   
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card shadow-lg">
                    <img src="{% static 'images/pcom13.png' %}" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes"width="100%" height="100" loading="lazy" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
                  <div class="card-body">
                    <p class="card-text">Discover Vetted Candidates with Diverse Skill-Sets.</p>
                   
                  </div>
                </div>
              </div>
              </div>
             </div>
            </div>
        </section>
            
        <section class="testimonials py-5 text-center bg-light ">
            <div class="container">
                <h3 class="fw-bolder lh-1 mx-5 py-5 text-center fontColor-orang">
                    <i class="bi bi-quote display-4"></i> What people are saying...</h3>
                
                <div class="row ">
                    <div class="col-lg-4">
                        <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                            <img class="img-fluid rounded-circle mb-3" src="{% static 'images/testimonials-1.jpg' %}" width="200px" height="200px" alt="testimonials1">
                            <h5>Margaret E.</h5>
                            <i class="bi bi-chat-right-heart fs-3 px-2 fontColor-orang "></i>
                            <span class="font-weight-light mb-0 s2-font text-start">"This is fantastic! Jobdogg.com is an exceptional platform that streamlined my job search. Thanks so much guys!"
                                <a class="fontColor-orang" href="/testimonialList"><i class="bi bi-box-arrow-in-up-right "></i></a>
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                            <img class="img-fluid rounded-circle mb-3" src="{% static 'images/testimonials-2.jpg' %}" width="200px" height="200px" alt="testimonials2">
                            <h5>Fred S.</h5>
                            <i class="bi bi-chat-right-heart fs-3 px-2 fontColor-orang "></i>
                            <small class="font-weight-light mb-0  s2-font text-start">"I landed my dream job within weeks of signing up. 
                                 I highly recommend Jobdogg.com to job seekers."
                                 <a class="fontColor-orang" href="/testimonialList"><i class="bi bi-box-arrow-in-up-right "></i></a>
                            </small>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                            <img class="img-fluid rounded-circle mb-3" src="{% static 'images/testimonials-3.jpg' %}" width="200px" height="200px" alt="testimonials3">
                            <h5>Sarah W.</h5>
                            <i class="bi bi-chat-right-heart fs-3 px-2 fontColor-orang "></i>
                            <small class="font-weight-light mb-0  s2-font text-start">
                                "The website's user-friendly interface and personalized job recommendations 
                                made it easy to find the right fit.Thanks so much for making these freeliy available to us!"
                                <a class="fontColor-orang" href="/testimonialList"><i class="bi bi-box-arrow-in-up-right "></i></a>
                            </small>
                        </div>
                    </div>
                </div>
                <hr class="fontColor-orang">
            </div>
        </section>
        
        <section class="bg-light py-5 border-bottom">
            <div class="container px-5 my-5">
             <div class="text-center mb-5">
                 <h2 class="fw-bolder">Pay as you grow</h2>
                 <p class="lead mb-0">With our no hassle pricing plans</p>
             </div>
             <div class="row gx-5 justify-content-center">
                 <!-- Pricing card free-->
                 <div class="col-lg-6 col-xl-4 ">
                     <div class="card mb-5 mb-xl-0 shadow">
                         <div class="card-body p-5">
                             <div class="small text-uppercase fw-bold text-muted">Free</div>
                             <div class="mb-3">
                                 <span class="display-4 fw-bold">$0</span>
                                 <span class="text-muted">/ mo.</span>
                             </div>
                             <ul class="list-unstyled mb-4">
                                 <li class="mb-2">
                                     <i class="bi bi-check text-primary"></i>
                                     <strong>1 users</strong>
                                 </li>
                                 <li class="mb-2">
                                     <i class="bi bi-check text-primary"></i>
                                     5GB storage
                                 </li>
                                 <li class="mb-2">
                                     <i class="bi bi-check text-primary"></i>
                                     Unlimited public projects
                                 </li>
                                 <li class="mb-2">
                                     <i class="bi bi-check text-primary"></i>
                                     Community access
                                 </li>
                                 <li class="mb-2 text-muted">
                                     <i class="bi bi-x"></i>
                                     Unlimited private projects
                                 </li>
                                 <li class="mb-2 text-muted">
                                     <i class="bi bi-x"></i>
                                     Dedicated support
                                 </li>
                                 <li class="mb-2 text-muted">
                                     <i class="bi bi-x"></i>
                                     Free linked domain
                                 </li>
                                 <li class="text-muted">
                                     <i class="bi bi-x"></i>
                                     Monthly status reports
                                 </li>
                             </ul>
                             <div class="d-grid"><a class="btn btn-outline-info" href="#!">Choose plan</a></div>
                         </div>
                     </div>
                 </div>
                 <!-- Pricing card pro-->
                 <div class="col-lg-6 col-xl-4">
                     <div class="card mb-5 mb-xl-0 shadow">
                         <div class="card-body p-5">
                             <div class="small text-uppercase fw-bold">
                                 <i class="bi bi-star-fill text-warning"></i>
                                 Pro
                             </div>
                             <div class="mb-3">
                                 <span class="display-4 fw-bold">$9</span>
                                 <span class="text-muted">/ mo.</span>
                             </div>
                             <ul class="list-unstyled mb-4">
                                 <li class="mb-2">
                                     <i class="bi bi-check text-primary"></i>
                                     <strong>5 users</strong>
                                 </li>
                                 <li class="mb-2">
                                     <i class="bi bi-check text-primary"></i>
                                     5GB storage
                                 </li>
                                 <li class="mb-2">
                                     <i class="bi bi-check text-primary"></i>
                                     Unlimited public projects
                                 </li>
                                 <li class="mb-2">
                                     <i class="bi bi-check text-primary"></i>
                                     Community access
                                 </li>
                                 <li class="mb-2">
                                     <i class="bi bi-check text-primary"></i>
                                     Unlimited private projects
                                 </li>
                                 <li class="mb-2">
                                     <i class="bi bi-check text-primary"></i>
                                     Dedicated support
                                 </li>
                                 <li class="mb-2">
                                     <i class="bi bi-check text-primary"></i>
                                     Free linked domain
                                 </li>
                                 <li class="text-muted">
                                     <i class="bi bi-x"></i>
                                     Monthly status reports
                                 </li>
                             </ul>
                             <div class="d-grid"><a class="btn btn-outline-Jobdogg" href="#!">Choose plan</a></div>
                         </div>
                     </div>
                 </div>
                 <!-- Pricing card enterprise-->
                 <div class="col-lg-6 col-xl-4">
                     <div class="card shadow">
                         <div class="card-body p-5">
                             <div class="small text-uppercase fw-bold text-muted">Enterprise</div>
                             <div class="mb-3">
                                 <span class="display-4 fw-bold">$49</span>
                                 <span class="text-muted">/ mo.</span>
                             </div>
                             <ul class="list-unstyled mb-4">
                                 <li class="mb-2">
                                     <i class="bi bi-check text-primary"></i>
                                     <strong>Unlimited users</strong>
                                 </li>
                                 <li class="mb-2">
                                     <i class="bi bi-check text-primary"></i>
                                     5GB storage
                                 </li>
                                 <li class="mb-2">
                                     <i class="bi bi-check text-primary"></i>
                                     Unlimited public projects
                                 </li>
                                 <li class="mb-2">
                                     <i class="bi bi-check text-primary"></i>
                                     Community access
                                 </li>
                                 <li class="mb-2">
                                     <i class="bi bi-check text-primary"></i>
                                     Unlimited private projects
                                 </li>
                                 <li class="mb-2">
                                     <i class="bi bi-check text-primary"></i>
                                     Dedicated support
                                 </li>
                                 <li class="mb-2">
                                     <i class="bi bi-check text-primary"></i>
                                     <strong>Unlimited</strong>
                                     linked domains
                                 </li>
                                 <li class="text-muted">
                                     <i class="bi bi-check text-primary"></i>
                                     Monthly status reports
                                 </li>
                             </ul>
                             <div class="d-grid"><a class="btn btn-outline-primary" href="#!">Choose plan</a></div>
                         </div>
                     </div>
                 </div>
             </div>
            </div>
        </section>

        <section class="bg-light py-5">
            <div class="container px-5 my-5 px-5">
              <div class="text-center mb-5">
                <h2 class="fw-bolder">Get in touch</h2>
                <p class="lead mb-0">We'd love to hear from you</p>
              </div>
              <div class="row gx-5 justify-content-center">
                <div class="col-lg-6">
                    <form id="contactForm" data-sb-form-api-token="API_TOKEN">
                        <!-- Name input-->
                        <div class="form-floating mb-3">
                            <input class="form-control is-invalid" id="name" type="text" placeholder="Enter your name..." data-sb-validations="required" data-sb-can-submit="no">
                            <label for="name">Full name</label>
                            <div class="invalid-feedback" data-sb-feedback="name:required">A name is required.</div>
                        </div>
                        <!-- Email address input-->
                        <div class="form-floating mb-3">
                            <input class="form-control" id="email" type="email" placeholder="name@example.com" data-sb-validations="required,email" data-sb-can-submit="no">
                            <label for="email">Email address</label>
                            <div class="invalid-feedback" data-sb-feedback="email:required">An email is required.</div>
                            <div class="invalid-feedback" data-sb-feedback="email:email">Email is not valid.</div>
                        </div>
                        <!-- Phone number input-->
                        <div class="form-floating mb-3">
                            <input class="form-control is-invalid" id="phone" type="tel" placeholder="(123) 456-7890" data-sb-validations="required" data-sb-can-submit="no">
                            <label for="phone">Phone number</label>
                            <div class="invalid-feedback" data-sb-feedback="phone:required">A phone number is required.</div>
                        </div>
                        <!-- Message input-->
                        <div class="form-floating mb-3">
                            <textarea class="form-control" id="message" type="text" placeholder="Enter your message here..." style="height: 10rem" data-sb-validations="required" data-sb-can-submit="no"></textarea>
                            <label for="message">Message</label>
                            <div class="invalid-feedback" data-sb-feedback="message:required">A message is required.</div>
                        </div>
                        
                        <div class="d-none" id="submitSuccessMessage">
                            <div class="text-center mb-3">
                                <div class="fw-bolder">Form submission successful!</div>
                                To activate this form, sign up at
                                <br>
                                <a href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>
                            </div>
                        </div>
                       
                        <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Error sending message!</div></div>
                        <!-- Submit Button-->
                        <div class="d-grid"><button class="btn btn-outline-info btn-lg " id="submitButton" type="submit">Submit</button></div>
                    </form>
                </div>
             </div>
            </div>
        </section>

      </div>
    </div>
    <div class="tab-pane" id="profile_employer" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
      <!--staff searching-->
      <header data-bs-theme="dark">
        <div class="container bg-dark shadow-sm py-3 my-3">
          <div class=" text-dark px-2">
            <div class="d-flex justify-content-between gap-5">
              <div class="input-group gap-1">
                  <input type="text" class="form-control" placeholder="staff search..." aria-label="Recipient's username with two button addons">
                  <button class="btn btn-jobdogg" type="button"><i class="bi bi-search"></i></button>
                  <button data-bs-toggle="modal" data-bs-target="#ApplyFilterstaticBackdropEmployer" class="btn btn-jobdogg " type="button"><i class="bi bi-sliders"></i></button>  
              </div>
              <div class="">
           
              <button class="btn btn-jobdogg dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="bi bi-sort-down"></i></button>
                  <ul class="dropdown-menu dropdown-menu-end">
                    <li><a class="dropdown-item" href="#">new</a></li>
                    <li><a class="dropdown-item" href="#">last 7 days.</a></li>
                    <li><a class="dropdown-item" href="#">last 15 days.</a></li>
                    <li><a class="dropdown-item" href="#">last 30 days.</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">asanding</a></li>
                    <li><a class="dropdown-item" href="#">disanding</a></li>
                  </ul>
          </div>
            
            </div>   
          </div>
        </div>
        <!-- Apply Filter -->
        <div class="modal fade" id="ApplyFilterstaticBackdropEmployer" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="ApplyFilterstaticBackdropEmployerLabel" aria-hidden="true">
          <div class="modal-dialog  modal-md modal-dialog-scrollable ">
            <div class="modal-content ">
              <div class="modal-header bg-warning">
                <h2 class="modal-title fs-5 " id="ApplyFilterstaticBackdropEmployerLabel">Set Filtering Keys </h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body ">
              it gos her
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-jobdogg">Apply Filter</button>
              </div>
            </div>
          </div>
        </div>
      </header>

      <main>
        <div class="album py-5 bg-body-tertiary">
          <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
              <div class="col">
                <div class="card shadow-sm">
                  <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
                  <div class="card-body">
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                        <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                      </div>
                      <small class="text-body-secondary">9 mins</small>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card shadow-sm">
                  <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
                  <div class="card-body">
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                        <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                      </div>
                      <small class="text-body-secondary">9 mins</small>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card shadow-sm">
                  <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
                  <div class="card-body">
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                        <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                      </div>
                      <small class="text-body-secondary">9 mins</small>
                    </div>
                  </div>
                </div>
              </div>
      
              <div class="col">
                <div class="card shadow-sm">
                  <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
                  <div class="card-body">
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                        <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                      </div>
                      <small class="text-body-secondary">9 mins</small>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card shadow-sm">
                  <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
                  <div class="card-body">
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                        <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                      </div>
                      <small class="text-body-secondary">9 mins</small>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card shadow-sm">
                  <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
                  <div class="card-body">
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                        <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                      </div>
                      <small class="text-body-secondary">9 mins</small>
                    </div>
                  </div>
                </div>
              </div>
      
              <div class="col">
                <div class="card shadow-sm">
                  <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
                  <div class="card-body">
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                        <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                      </div>
                      <small class="text-body-secondary">9 mins</small>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card shadow-sm">
                  <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
                  <div class="card-body">
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                        <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                      </div>
                      <small class="text-body-secondary">9 mins</small>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card shadow-sm">
                  <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
                  <div class="card-body">
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                        <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                      </div>
                      <small class="text-body-secondary">9 mins</small>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <div class="my-5">
            <nav aria-label="Page navigation example ">
              <ul class="pagination justify-content-center">
                <li class="page-item disabled">
                  <a class="page-link">Previous</a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                  <a class="page-link" href="#">Next</a>
                </li>
              </ul>
            </nav>
          </div>
          </div>
        
        </div>
      
      </main>
    </div>
   
  </div>
          
</div>
{% endblock %}

