{% extends "_base.html" %}
{% load static %}
{% block title %}FAQ For Employee{% endblock %}
{% block main %}
<div class="container my-5 py-3">
    <h4 class="text-center">FAQ'S</h4>
    <div class="my-3 mx-5 border-bottom border-warning"></div>
    <div class="accordion1">
        <div class="accordion1-item border-left-virtical">
            <div class="accordion1-item-header">
                Why should I build my Profile on Jobdogg.com?
            </div>
            <div class="accordion1-item-body">
                <div class="accordion1-item-body-content">
                    You are not just a piece of paper or words on a resume. You have a real identity on Jobdogg. Your unique profile and video resume give employers a deeper visibility of who you are and what separates you from the other “cats” out there.
                </div>
            </div>
        </div>
        
        <div class="accordion1-item border-left-virtical">
            <div class="accordion1-item-header">
                What type of Jobs are offered on Jobdogg?
            </div>
            <div class="accordion1-item-body">
                <div class="accordion1-item-body-content">
                    Jobdogg offers temporary, temp-perm, full-time, part-time, seasonal and permanent placements to include Internship opportunities, in all skill-sets, all industries and in every environment. If you are looking for something quick to make some fast bucks or looking for a long term career we got you covered.
                </div>
            </div>
        </div>
    
        <div class="accordion1-item border-left-virtical">
            <div class="accordion1-item-header">
                Why do I need to do a Video?
            </div>
            <div class="accordion1-item-body">
                <div class="accordion1-item-body-content">
                    Jobdogg gets it! It’s not scripted, not a ton of questions to respond back to with limited time, no nervous interviews, no mess-ups, just be “YOU”. Tell our employers your great “tricks”, be creative, be comfortable, relax and show off your K-9 instincts of how cool you are and re-record if you want to.
                </div>
            </div>
        </div>
        
        <div class="accordion1-item border-left-virtical">
            <div class="accordion1-item-header">
                Why do I need to do a Background Check?
            </div>
            <div class="accordion1-item-body">
                <div class="accordion1-item-body-content">
                    Employers require a background check and we increase your likelihood of getting hired by having this already done.
                </div>
            </div>
        </div>
        
        <div class="accordion1-item border-left-virtical">
            <div class="accordion1-item-header">
                Why do I need to give my Social Security Number and upload my Social Security card?
            </div>
            <div class="accordion1-item-body">
                <div class="accordion1-item-body-content">
                    Jobdogg will be processing your payroll and we need to ensure we are paying the right person.
                </div>
            </div>
        </div>
        
        <div class="accordion1-item border-left-virtical">
            <div class="accordion1-item-header">
                What is E-Verify and why do I need to complete an I-9 Form and upload the required documents?
            </div>
            <div class="accordion1-item-body">
                <div class="accordion1-item-body-content">
                    We need to make sure you are legally eligible to work in the U.S.
                </div>
            </div>
        </div>
        
        <div class="accordion1-item border-left-virtical">
            <div class="accordion1-item-header">
                I am here on a H1 Visa can I still register with Jobdogg?
            </div>
            <div class="accordion1-item-body">
                <div class="accordion1-item-body-content">
                    Of course, and Yes, although your status is temporary here in the United States, Jobdogg can assist with permanent residency and permanent work status. Jobdogg also employs candidates Internationally and Globally.
                </div>
            </div>
        </div>
        
        <div class="accordion1-item border-left-virtical">
            <div class="accordion1-item-header">
                Why do I Need to Fill out a W-4 Form?
            </div>
            <div class="accordion1-item-body">
                <div class="accordion1-item-body-content">
                    This tells Jobdogg how many deductions you are taking for payrolling purposes, and to ensure you receive your W-2 at the end of the year for tax filing purposes.
                </div>
            </div>
        </div>
        
        <div class="accordion1-item border-left-virtical">
            <div class="accordion1-item-header">
                Why do I need to give my Drivers’ License?
            </div>
            <div class="accordion1-item-body">
                <div class="accordion1-item-body-content">
                    A Drivers’ License is another form of identity that we require, so that we can verify you are who you say you are and ensure no one else is using your identity.
                </div>
            </div>
        </div>
        
        <div class="accordion1-item border-left-virtical">
            <div class="accordion1-item-header">
                Why do I choose a Pay Option?
            </div>
            <div class="accordion1-item-body">
                <div class="accordion1-item-body-content">
                    Jobdogg wants to ensure you are paid on-time and make it convenient for you. Choosing a pay option tells Jobdogg how you want to get paid every week.
                </div>
            </div>
        </div>
        
        <div class="accordion1-item border-left-virtical">
            <div class="accordion1-item-header">
                Why is there a Safety Video & Quiz?
            </div>
            <div class="accordion1-item-body">
                <div class="accordion1-item-body-content">
                    Jobdogg's employers want to ensure your safety as well as others while you are working on an assignment.
                </div>
            </div>
        </div>
        
        <div class="accordion1-item border-left-virtical">
            <div class="accordion1-item-header">
                Why do I have to take a skill-set test?
            </div>
            <div class="accordion1-item-body">
                <div class="accordion1-item-body-content">
                    There is no pass or fail, skill-set tests allow our employers to hire you faster knowing you possess the required skills.
                </div>
            </div>
        </div>
        
        <div class="accordion1-item border-left-virtical">
            <div class="accordion1-item-header">
                Do I have to choose a Ride Share option?
            </div>
            <div class="accordion1-item-body">
                <div class="accordion1-item-body-content">
                    Not at all. This is only if you need it and for your convenience. If you need a ride and you don’t have the money to pay, Jobdogg can handle that, but the cost will be billed back to you as an incidental and taken out of your payroll. (Rideshare option is only for transportation to and from your work assignment. Jobdogg will not pay and/or reimburse outside of your work assignments).
                </div>
            </div>
        </div>
        <div class="accordion1-item border-left-virtical">
            <div class="accordion1-item-header">
            If have more questions ?
            </div>
            <div class="accordion1-item-body">
                <div class="accordion1-item-body-content">
                    <ul class="list-unstyled px-2 ">
        
                        <li class="mb-2 ">Get connected to our support Team</li>
                        <li class="mb-2  ">sand your quation by using the link?</li>
                        <li class="mb-2"><a class="" href="mailto:employeeactivation@jobdogg.com"><i class="bi bi-envelope-at-fill px-1"></i>employeeactivation@jobdogg.com</a></li>
                        <li class="mb-1">or call to : <a class="" href="tel:702-415-3726"> <i class="bi bi-headset px-1"></i>(702) 205-8399</a></li>
                        
                      </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}