{% extends "_base.html" %}
{% load static %}
{% block title %}FAQ For Employer{% endblock %}
{% block main %}
<div class="container my-5 py-4">
    <h4 class="text-center pt-2">FAQ'S</h4>
    <div class="my-3 mx-5 border-bottom border-warning"></div>
    <div class="accordion1">
        <div class="accordion1-item border-left-virtical">
            <div class="accordion1-item-header">
                Why should I register my company with Jobdogg?
            </div>
            <div class="accordion1-item-body">
                <div class="accordion1-item-body-content">
                    So that you can have full access to Jobdoggs’ already vetted candidates with a preview of their video resume along with options to conduct live on-line interviews. And……to provide you with all the tools necessary to hire, maintain and track your staffing trends and stay abreast of your hiring history and costs.
                </div>
            </div>
        </div>
    
        <div class="accordion1-item border-left-virtical">
            <div class="accordion1-item-header">
                What type of candidates are registered with Jobdogg?
            </div>
            <div class="accordion1-item-body">
                <div class="accordion1-item-body-content">
                    Jobdogg is an Equal Opportunity Employer, offering candidates with every type of skill-sets, background, race, gender, nationality, languages, religions and beliefs. From Entry level to C-Level and beyond. You can hire Temporary, Temp-Perm, Permanent, Seasonal and Interns if you like, you choose your adoption method. Whomever you are looking for, and whatever you are looking for in an employee, we probably got them, and if we don’t, we’ll hunt them down for you.
                </div>
            </div>
        </div>
    
        <div class="accordion1-item border-left-virtical">
            <div class="accordion1-item-header">
                How are you different from Staffing Agencies?
            </div>
            <div class="accordion1-item-body">
                <div class="accordion1-item-body-content">
                    Jobdogg simply cut out the “middlemen”, to save you time, money and ensure you get the right talent! Chasing your tail to receive the same resumes from multiple staffing agencies, only to review them and try to make the right choice and the costs of onboarding, tracking and maintaining your staffing levels, we buried those bones. You hire and interview on your command and Jobdogg will do the rest.
                </div>
            </div>
        </div>
    
        <div class="accordion1-item border-left-virtical">
            <div class="accordion1-item-header">
                How are you different from Job Boards and Resume Posting Websites?
            </div>
            <div class="accordion1-item-body">
                <div class="accordion1-item-body-content">
                    Jobdogg offers candidates that are not just words on a resume, invisible in the “pack” or just “stayin” on the porch. Each candidate gives you a video presentation, skill-set tested and background checked, with NO additional cost to you. This gives you a 90% faster hire with a 360o view of who they really are. Not to mention, JOB POSTINGS……are Always FREE!
                </div>
            </div>
        </div>
    
        <div class="accordion1-item border-left-virtical">
            <div class="accordion1-item-header">
                How are your candidates Vetted/Background Checked?
            </div>
            <div class="accordion1-item-body">
                <div class="accordion1-item-body-content">
                    Jobdogg works with a third-party vendor to provide a complete background check on each registered candidate. The background check includes felony and misdemeanor search, sex offender search, terrorist watch, Employment History and Education history to include, Degrees, Licenses and Certifications. Jobdoggs’ background check search is based on the candidates SS#, previous known names, aliases/aka’s, and last known addresses (City, State & Country) lived in in the past 7 years. Jobdogg also provides Drug Screenings upon the request of the Employer.
                </div>
            </div>
        </div>
    
        <div class="accordion1-item border-left-virtical">
            <div class="accordion1-item-header">
                How do you Skill-Set Test your candidates?
            </div>
            <div class="accordion1-item-body">
                <div class="accordion1-item-body-content">
                    Jobdogg has over 1000+ skill-sets and job titles, which are updated regularly with all new skills that come to market. Each candidate builds their profile based on their job titles, skill-sets and work experiences, and are tested on their top selected skill strengths. The Employer also has the option to request the candidate test further in any skill-set they desire.
                </div>
            </div>
        </div>
    
        <div class="accordion1-item border-left-virtical">
            <div class="accordion1-item-header">
                What about Personality tests, does Jobdogg do those? (COMING SOON)
            </div>
            <div class="accordion1-item-body">
                <div class="accordion1-item-body-content">
                    For now, Jobdoggs’ Video feature will give you a brief look at their personality as you view their unscripted video presentation.
                </div>
            </div>
        </div>
    
        <div class="accordion1-item border-left-virtical">
            <div class="accordion1-item-header">
                How are Jobdoggs’ Candidates rated?
            </div>
            <div class="accordion1-item-body">
                <div class="accordion1-item-body-content">
                    Each candidate is given a 1 -5 Star Rating based on the number of assignments they have completed, attendance, punctuality, work ethic, knowledge in skill-sets, and most importantly after each assignment completed, every Employer receives a rate card to give details on the candidates performance and any and all other comments they wish to share. To dig for more bones, if a candidate is working with another jobdogg candidate on an assignment, they each receive a rate card to rate Peer to Peer working relationships.
                </div>
            </div>
        </div>
    
        <div class="accordion1-item border-left-virtical">
            <div class="accordion1-item-header">
                Why do I need to do a company Video? (Option)
            </div>
            <div class="accordion1-item-body">
                <div class="accordion1-item-body-content">
                    It’s an option, but If you want your company to stand out in the “pack” and show off your companys’ tricks, instincts and treats, this is a good way to snatch and catch the attention.
                </div>
            </div>
        </div>
    
        <div class="accordion1-item border-left-virtical">
            <div class="accordion1-item-header">
                How does the Job Requisition Work?
            </div>
            <div class="accordion1-item-body">
                <div class="accordion1-item-body-content">
                    This is like a Job Posting. With new Tricks! You input your requirements of the candidate you desire to hire, choose your option: Save = will save your job for later, Post = will post your job under Find Bones for candidates to view and apply, Alert = will pop-up Jobdoggs’ proprietary candidate carousel for your selection to hire immediately, message, favorite or set-up a live on-line interview, and lastly, All = will do all of the above functions. ……….And you can always Edit, Archive or Delete!
                </div>
            </div>
        </div>

        <div class="accordion1-item border-left-virtical">
            <div class="accordion1-item-header">
            If have more questions ?
            </div>
            <div class="accordion1-item-body">
                <div class="accordion1-item-body-content">
                  <ul class="list-unstyled px-2 ">

                    <li class="mb-2 ">Get connected to our support Team</li>
                    <li class="mb-2  ">sand your quation by using the link?</li>
                    <li class="mb-2"><a class="" href="mailto:employeractivation@jobdogg.com"><i class="bi bi-envelope-at-fill px-1"></i>employeractivation@jobdogg.com</a></li>
                    <li class="mb-1">or call to : <a class="" href="tel:702-415-3726"> <i class="bi bi-headset px-1"></i>(702) 205-8399</a></li>
                    
                  </ul>
                </div>
            </div>
        </div>
    </div>
    
</div>
{% endblock %}