{% extends "_base.html" %}
{% load static %}
{% block title %}Executive Team List{% endblock %}
{% block main %}
 <!-- Contact Section -->
 <div class="container my-5">
   
    <div class="row">
        <div class="col-sm-12 mb-3 mb-sm-0">
          <div class="card border-0 my-4 ">
            <div class="py-3 border-bottom text-bolder text-center text-bolder"><h5>OUR LEADERSHIP</h5></div>
            <div class="card-body">
              <div class="d-flex flex-column  justify-content-center shadow ">
                <div class="list-group gap-4">
                  <div class="list-group-item list-group-item-action d-flex gap-4 py-3 bg-dark-deep text-light" aria-current="true">
                    
                    <div class="justify-content-between  pb-2">
                        <div ><img src="{% static "images/Stacey_Elaine.jpg" %}" alt="twbs" width="130" height="200" class="flex-shrink-0"></div>
                        <div class="mt-2 shadow">
                            <p class="d-block">
                                <a href="#" class=""><img src="{% static 'images/insta.png' %}"  width="20px" height="20px" alt="Instagram Icon" class="mx-auto"></a>
                                <a href="#" class="bg-primary"><i class="bi bi-facebook text-light m-1"  width="1em" height="1em"></i></a>
                                <a href="#" class="bg-primary"><i class="bi bi-linkedin text-light m-1"  width="1em" height="1em"></i></a>
                            </p>
                        </div>
                    </div>
                    <div class="d-flex gap-2 w-100 justify-content-between">
                        <div>
                            <div class="pb-2">
                                <div>
                                    <h5 class="mb-1 textFooter2"> Stacey Elaine Sharpe</h5>
                                    <h6 class="mb-1 text-warning"> Founder & CEO</h6>
                                </div>
                                
                            </div>
                            <p class="mb-0 opacity-75 border-top py-2">
                            Founder and CEO of Jobdogg.com, Stacey has been in the staffing industry for over 17 years as a top producer 
                            in temporary and executive placements for one of the largest privately held staffing agencies in the country, along with two other publicly held staffing agencies.
                            She is known to her clients as an integral part in their staffing processes and has successfully managed high volume accounts to include government accounts.
                            She has credibility in the industry and a passion for the recruiting and staffing business.Her goals are to bring the highest levels of efficiency and effective
                                client/candidate satisfaction to the business of hiring employees. She is leading the way in recruiting and job placement for the millennial demographic. 
                                Stacey and her team has found and created the missing link for staffing in this demographic.
                            </p>
                        </div>
                    
                    </div>
                  </div>
                  {% comment %} <div class="list-group-item list-group-item-action d-flex gap-4 py-3 bg-dark-deep text-light" aria-current="true">
                    <img src="{% static "images/BLAKE_MOORE.jpg" %}" alt="twbs" width="130" height="200" class="flex-shrink-0">
                    <div class="d-flex gap-2 w-100 justify-content-between">
                        <div>
                            <div class="d-flex justify-content-between pb-2">
                                <div>
                                    <h5 class="mb-1 textFooter2">  VÏNTÓRY BLAKE MOORE</h5>
                                    <h6 class="mb-1 text-warning">Co-Founder & Chief Technical Officer</h6>
                                </div>
                                <div class="">
                                    <p class="d-block ">
                                        <a href="#" class=""><img src="{% static 'images/insta.png' %}"  width="20px" height="20px" alt="Instagram Icon" class="mx-auto"></a>
                                        <a href="#" class="bg-primary"><i class="bi bi-facebook text-light m-1"  width="1em" height="1em"></i></a>
                                        <a href="#" class="bg-primary"><i class="bi bi-linkedin text-light m-1"  width="1em" height="1em"></i></a>
                                    </p>
                                </div>
                            </div>
                            <p class="mb-0 opacity-75 border-top py-2">
                                VÏNTÓRY BLAKE, has spent the last 2 decades pioneering user experience and user interface design in Silicon Valley.
                                He is also one of the most highly award decorated Design Engineers in Silicon Valley history. 
                                As a graduate of North Carolina A&T’s Design Program, he saw major problems in the Hi-Tech industry, engineers designing for the end user. He charged forward to Silicon Valley to start ushering in a change in the tech industry advocating on behalf of the end user to create products that were intuitive and engaging. VÏNTÓRY BLAKE, has brought all of these experiences to Jobdogg to create a product that finally engages the millennial population in an effective and successful manor. Blake spends his free time on the tennis court and coaching his Son’s Football team.
                            </p>
                        </div>
                    
                    </div>
                  </div> {% endcomment %}
                  <div class="list-group-item list-group-item-action d-flex gap-4 py-3 bg-dark-deep text-light" aria-current="true">
                   
                    <div class="justify-content-between pb-2">
                        <div><img src="{% static "images/Hari.jpg" %}" alt="twbs" width="130" height="200" class="flex-shrink-0"></div>
                        <div class="pt-2">
                            <p class="d-block ">
                                <a href="#" class=""><img src="{% static 'images/insta.png' %}"  width="20px" height="20px" alt="Instagram Icon" class="mx-auto"></a>
                                <a href="#" class="bg-primary"><i class="bi bi-facebook text-light m-1"  width="1em" height="1em"></i></a>
                                <a href="#" class="bg-primary"><i class="bi bi-linkedin text-light m-1"  width="1em" height="1em"></i></a>
                            </p>
                        </div>
                    </div>
                    <div class="d-flex gap-2 w-100 justify-content-between">
                        <div>
                            <div class="d-flex justify-content-between pb-2">
                                <div>
                                    <h5 class="mb-1 textFooter2">KP Hari</h5>
                                    <h6 class="mb-1 text-warning">COO & Chairman Of The Board</h6>
                                </div>
                                
                            </div>
                            <p class="mb-0 opacity-75 border-top py-2">
                                KP Hari is the COO and Chairman of Jobdogg’s Board. KP is responsible for global operations, company growth and associate & customer satisfaction. With more than 25 years of IT experience, 
                                KP mastered the art of delivering technology and business solutions for attaining competitive advantage. 
                                KP is consistently recognized for on-time, on-budget deliveries and is a champion of software delivery through Distributed Software Methodology. 
                                In addition to his technical skills, he has strong management and delivery skills and excellent leadership with maturity and experience. 
                                He received his degree in Engineering from Calicut University and later earned his Master of Science in Computer Science from Regional Engineering College, Warangal. 
                                He is a good communicator, team builder and motivator and has more than five years of Bombay University teaching experience. 
                                KP is the Co-Founder and Executive Vice Chairman of one of the fast growing Technology company Speridian Technologies LLC. 
                                KP held several senior managerial positions such as Vice President, Option One Mortgage Corporation and Director, Online Tax Products at H&R Block. 
                                He also held senior management roles at Nexgenix and Union Carbide.
                        </div>
                    
                    </div>
                  </div>
                  <div class="list-group-item list-group-item-action d-flex gap-4 py-3 bg-dark-deep text-light" aria-current="true">
                   
                    <div class="justify-content-between pb-2">
                        <div> <img src="{% static "images/Frederick.jpg" %}" alt="twbs" width="130" height="200" class="flex-shrink-0"></div>
                        <div class="pt-2">
                            <p class="d-block ">
                                <a href="#" class=""><img src="{% static 'images/insta.png' %}"  width="20px" height="20px" alt="Instagram Icon" class="mx-auto"></a>
                                <a href="#" class="bg-primary"><i class="bi bi-facebook text-light m-1"  width="1em" height="1em"></i></a>
                                <a href="#" class="bg-primary"><i class="bi bi-linkedin text-light m-1"  width="1em" height="1em"></i></a>
                            </p>
                        </div>
                    </div>
                    <div class="d-flex gap-2 w-100 justify-content-between">
                        <div>
                            <div class="d-flex justify-content-between pb-2">
                                <div>
                                    <h5 class="mb-1 textFooter2">Frederick Church</h5>
                                    <h6 class="mb-1 text-warning">VP Of Operations</h6>
                                </div>
                            </div>
                            <p class="mb-0 opacity-75 border-top py-2">
                                Frederick Church is the VP of Operations. He is a 20 year Army Veteran and has served in many locations around the World. 
                                He has worked for several companies in senior management positions and has a Six Sigma Certification, and has played a valuable role in their growth and success. 
                                He has worked with many different nationalities from countries from all around the world, which given him a diverse background in working with a wide variety of different cultures. He came on to the company as the primary investor funding the initial growth of the company. His goals are to assist in bringing the highest level of quality and efficiency to a one-stop online solution for the ease of connecting great companies with qualified employees which will motivate employees, impress clients, and satisfy investors.
                            </p>
                        </div>
                    
                    </div>
                  </div>
                  <div class="list-group-item list-group-item-action d-flex gap-4 py-3 bg-dark-deep text-light" aria-current="true">
                    
                    <div class="justify-content-between pb-2">
                        <img src="{% static "images/GregGlover.jpg" %}" alt="twbs" width="130" height="200" class="flex-shrink-0">
                        <div class="pt-2">
                            <p class="d-block ">
                                <a href="#" class=""><img src="{% static 'images/insta.png' %}"  width="20px" height="20px" alt="Instagram Icon" class="mx-auto"></a>
                                <a href="#" class="bg-primary"><i class="bi bi-facebook text-light m-1"  width="1em" height="1em"></i></a>
                                <a href="#" class="bg-primary"><i class="bi bi-linkedin text-light m-1"  width="1em" height="1em"></i></a>
                            </p>
                        </div>
                    </div>
                    
                    <div class="d-flex gap-2 w-100 justify-content-between">
                        <div>
                            <div class="d-flex justify-content-between pb-2">
                                <div>
                                    <h5 class="mb-1 textFooter2"> Greg Glover</h5>
                                    <h6 class="mb-1 text-warning">Chief Information Officer</h6>
                                </div>
                            </div>
                            <p class="mb-0 opacity-75 border-top py-2">
                                Greg Glover holds a B.S. in Computer Science from the University of Nevada, Las Vegas.
                                Greghas over 43years of experience in the design and management of all Information Resource Management components including hardware, software, data communications, and organizational resources. 
                                Greghas a background in Information Engineering; experience in automating workflow processes; 
                                advisory experience with top-echelon corporate and client management; and has managed an information systems department staff of sixty, 
                                including professional specialists in computer science, telecommunications, and management information systems.
                                Gregheldthe position of Chief Information Officer with Raytheon Services Nevada. 
                                Gregco-founded G2 Consulting. G2 Consulting provides an extensive array of Information Technology consulting services including planning, design, configuration and implementation services to businesses of all sizes.
                            </p>
                        </div>
                    
                    </div>
                  </div>
                  
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
      
</div>

{% endblock %}
