{% extends "_base.html" %}
{% load static %}
{% block title %}Home{% endblock %}
{% block main %}
<div class="my-5 mx-1">

        <!-- Masthead-->
        <header class="masthead">
            <div class="container position-relative">
                <div class="row justify-content-end">
                    <div class="col-xl-6">
                        <div class="text-Start text-white">
                            <!-- Page heading-->
                            <h3 class="mb-3">UNVEILING THE</h3>
                            <h3 class="mb-3"> UNSTAFFING</h1>
                            <p class="mb-3"> We're redefining how people work and get hired and how employers recruit and hire staff around the world. Contingent workforce made simply, empowering both the employer and job seeker with transparency and visibility to achieve a 90% faster hire armed with all the tools necessary to hire the right fit and get the right job.
                              Job Assignments not Job Matches, it’s the Future. </p>
                            
                            <form class="form-subscribe" id="contactForm" data-sb-form-api-token="API_TOKEN">
                                <!-- Email address input-->
                                <div class="row">
                                    <div class="col">
                                        <input class="form-control form-control-sm" id="emailAddress" type="email" placeholder="Email Address" data-sb-validations="required,email" />
                                        <div class="invalid-feedback text-white" data-sb-feedback="emailAddress:required">Email Address is required.</div>
                                        <div class="invalid-feedback text-white" data-sb-feedback="emailAddress:email">Email Address Email is not valid.</div>
                                    </div>
                                    <div class="col-auto"><button class="btn btn-sm btn-primary disabled" id="submitButton" type="submit">Submit</button></div>
                                </div>
                               
                                <div class="d-none" id="submitSuccessMessage">
                                    <div class="text-center mb-3">
                                        <div class="fw-bolder">Form submission successful!</div>
                                        <p>To activate this form, sign up at</p>
                                        <a class="text-white" href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>
                                    </div>
                                </div>
                             
                                <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Error sending message!</div></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!--Future.-->
        <div class="container px-4 py-2" id="featured-3">
            <h3 class="pb-2 border-bottom">Features</h3>
            <div class="row g-4 py-3 row-cols-1 row-cols-lg-3">
              <div class="feature col">
                <div class="feature-icon d-inline-flex align-items-center justify-content-center fs-1 mb-3">
                  <i class="fa fa-handshake-o m-auto fontColor" width="1.7em" height="1.7em"></i>
                </div>
                <h5 class="fs-5">NO UPFRONT FEES</h5>
                <p>Complete the assignment and pay afterward. Enjoy a free trial period of 30 days.</p>
                <a href="#" class="icon-link d-inline-flex align-items-center">
                  start to action
                  <svg class="bi" width="1em" height="1em"><use xlink:href="#chevron-right"></use></svg>
                </a>
              </div>
              <div class="feature col">
                <div class="feature-icon d-inline-flex align-items-center justify-content-center  fs-1 mb-3">
                    <i class="bi bi-hourglass-top m-auto fontColor" width="1.7em" height="1.7em"></i>
                </div>
                <h5 class="fs-5">HIRE 90% FASTER</h5>
                <p>Effortlessly obtain a comprehensive overview of each candidate and quickly onboard them with One Source, eliminating the hassle of duplicate resumes from various sources.</p>
                <a href="#" class="icon-link d-inline-flex align-items-center">
                  start to action
                  <svg class="bi" width="1em" height="1em"><use xlink:href="#chevron-right"></use></svg>
                </a>
              </div>
              <div class="feature col">
                <div class="feature-icon d-inline-flex align-items-center justify-content-center fs-1 mb-3">
                    <i class="bi bi-piggy-bank m-auto fontColor" width="2em" height="2em"></i>
                </div>
                <h5 class="fs-5">SAVE MONEY</h5>
                <p>Job Postings are always Free! Up to 50% lower than Staffing Agency fees. 90% lower than Job Boards.</p>
                <a href="#" class="icon-link d-inline-flex align-items-center">
                  start to action
                  <svg class="bi" width="1em" height="1em"><use xlink:href="#chevron-right"></use></svg>
                </a>
              </div>
            </div>
            <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
                <div class="feature col">
                  <div class="feature-icon d-inline-flex align-items-center justify-content-center fs-1 mb-3">
                    <i class="bi bi-clock m-auto fontColor" width="1.7em" height="1.7em"></i>
                  </div>
                  <h5 class="fs-5">SAVE TIME</h5>
                  <p>Already vetted candidates with completed backgrounds, skill-set tested, referenced checked, personality tested, and E-Verified.</p>
                  <a href="#" class="icon-link d-inline-flex align-items-center">
                    start to action
                    <svg class="bi" width="1em" height="1em"><use xlink:href="#chevron-right"></use></svg>
                  </a>
                </div>
                <div class="feature col">
                  <div class="feature-icon d-inline-flex align-items-center justify-content-center  fs-1 mb-3">
                      <i class="bi-layers  m-auto fontColor" width="1.7em" height="1.7em"></i>
                  </div>
                  <h5 class="fs-5">TRANSPARENT</h5>
                  <p>Unscripted Video Resumes. Schedule live on-line, on-demand interviews.</p>
                  <a href="#" class="icon-link d-inline-flex align-items-center">
                    start to action
                    <svg class="bi" width="1em" height="1em"><use xlink:href="#chevron-right"></use></svg>
                  </a>
                </div>
                <div class="feature col">
                  <div class="feature-icon d-inline-flex align-items-center justify-content-center fs-1 mb-3">
                      <i class="bi bi-piggy-bank m-auto fontColor" width="2em" height="2em"></i>
                  </div>
                  <h5 class="fs-5">EASY TO Use</h5>
                  <p>Ready to use with your own content, or customize the source files!</p>
                  <a href="#" class="icon-link d-inline-flex align-items-center">
                    start to action
                    <svg class="bi" width="1em" height="1em"><use xlink:href="#chevron-right"></use></svg>
                  </a>
                </div>
              </div>
          </div>
        <!-- Icons Grid-->
        
        <!-- Image Showcases-->
        <section class="showcase">
            <div class="container-fluid p-0">
                <div class="row g-0">
                    <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('/static/images/banner-new.jpg')"></div>
                    <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                     
                        <h2 class="text-warning"> HIRE ON DEMAND</h2>
                        <ul class="list-group list-group-flush">
                          <li class="list-group-item"><i class="bi bi-check2-circle px-2 text-warning" ></i>90% Faster hires with a 360˚ degree view of each candidate.</li>
                          <li class="list-group-item"><i class="bi bi-check2-circle px-2 text-warning"></i>Diverse Pool of Already Vetted Candidates.</li>
                          <li class="list-group-item"><i class="bi bi-check2-circle px-2 text-warning"></i>Candidates already skill-set tested with over 3000 skill-set tests offered.</li>
                          <li class="list-group-item"><i class="bi bi-check2-circle px-2 text-warning"></i> Unscripted Video Resumes.</li>
                          <li class="list-group-item"><i class="bi bi-check2-circle px-2 text-warning"></i>Schedule On-line On-Demand Live Interviews.</li>
                          <li class="list-group-item"><i class="bi bi-check2-circle px-2 text-warning"></i>Track Staffing Levels, Monitor Staffing Trends with built-in Business Analytics Tool</li>
                          <li class="list-group-item"><i class="bi bi-check2-circle px-2 text-warning"></i>Hire How, When & Where you need Candidates.</li>
                          <li class="list-group-item"><i class="bi bi-check2-circle px-2 text-warning"></i>Everywhere Candidates Mobile Application.</li>
                          <li class="list-group-item"><i class="bi bi-check2-circle px-2 text-warning"></i>Job Postings Are Always FREE.</li>
                          <li class="list-group-item"><i class="bi bi-check2-circle px-2 text-warning"></i>And a fifth one.</li>
                        </ul>
                        <p class="lead mb-0"></p>
                    </div>
                </div>
                <div class="row g-0">
                    <div class="col-lg-6 text-white showcase-img" style="background-image: url('/static/images/banner-new.jpg')"></div>
                    <div class="col-lg-6 my-auto showcase-text">
                        <h2>Updated For Bootstrap 5</h2>
                        <p class="lead mb-0">Newly improved, and full of great utility classes, Bootstrap 5 is leading the way in mobile responsive web development! All of the themes on Start Bootstrap are now using Bootstrap 5!</p>
                    </div>
                </div>
                <div class="row g-0">
                    <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('/static/images/banner-new.jpg')"></div>
                    <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                        <h2>Easy to Use & Customize</h2>
                        <p class="lead mb-0">Landing Page is just HTML and CSS with a splash of SCSS for users who demand some deeper customization options. Out of the box, just add your content and images, and your new landing page will be ready to go!</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- Testimonials-->
        <section class="testimonials text-center bg-light">
            <div class="container">
                <h2 class="mb-5">What people are saying...</h2>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                            <img class="img-fluid rounded-circle mb-3" src="{% static 'images/testimonials-1.jpg'%}" alt="..." />
                            <h5>Margaret E.</h5>
                            <p class="font-weight-light mb-0">"This is fantastic! Thanks so much guys!"</p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                            <img class="img-fluid rounded-circle mb-3" src="{% static 'images/testimonials-2.jpg'%}" alt="..." />
                            <h5>Fred S.</h5>
                            <p class="font-weight-light mb-0">"Bootstrap is amazing. I've been using it to create lots of super nice landing pages."</p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                            <img class="img-fluid rounded-circle mb-3" src="{% static 'images/testimonials-1.jpg' %}" alt="..." />
                            <h5>Sarah W.</h5>
                            <p class="font-weight-light mb-0">"Thanks so much for making these free resources available to us!"</p>
                        </div>
                    </div>
                </div>
                
            </div>
        </section>
        <!-- Call to Action-->
        <section class="call-to-action text-white text-center" id="signup">
            <div class="container position-relative">
                <div class="row justify-content-center">
                    <div class="col-xl-6">
                        <h3 class="mb-4">Ready to get started? Sign up now!</h3>
                        
                        <form class="form-subscribe" id="contactFormFooter" data-sb-form-api-token="API_TOKEN">
                            <!-- Email address input-->
                            <div class="row">
                                <div class="col">
                                    <input class="form-control form-control-sm " id="emailAddressBelow" type="email" placeholder="Email Address" data-sb-validations="required,email" />
                                    <div class="invalid-feedback text-white" data-sb-feedback="emailAddressBelow:required">Email Address is required.</div>
                                    <div class="invalid-feedback text-white" data-sb-feedback="emailAddressBelow:email">Email Address Email is not valid.</div>
                                </div>
                                <div class="col-auto"><button class="btn btn-primary btn-sm disabled" id="submitButton" type="submit">Submit</button></div>
                            </div>
                            
                            <div class="d-none" id="submitSuccessMessage">
                                <div class="text-center mb-3">
                                    <div class="fw-bolder">Form submission successful!</div>
                                    <p>To activate this form, sign up at</p>
                                    <a class="text-white" href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>
                                </div>
                            </div>
                            
                            <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Error sending message!</div></div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        
        
</div>
{% endblock %}