{% extends "_base.html" %}
{% load static %}

{% load crispy_forms_tags %}
{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'css/homepage.css' %}">
{% endblock %}
{% block javascript %}

{% endblock %}
{% block title %}Home{% endblock %}
{% block main %}

<div class="mt-5 mb-3 mx-1">
    {% if messages %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            
                <ul class="messages">
                    {% for message in messages %}
                    <div class="m-3 fontColor-orang" id="submitSuccessMessage">
                        <div class="text-center fontColor-orang mb-3">
                            <div class="fw-bolder">Form submission successful!</div>
                            <p {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
                            <a class="btn-booster-orang text-decoration-none" href="{% url 'account_signup' %}">Signup</a>
                        </div>
                    </div>
                        
                    {% endfor %}
                </ul>
            
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
     {% endif %}
        <!-- Masthead-->
        <header>
            <section class="masthead" >
                <div class="container">
                <div class="row gap-2">
                    
                    <div class="col-lg-8 offset-lg-0 ">
                        <div class="text-light py-5">
                            <h4>“ Elevating Hiring Experiences through Video Introduction ”</h4>
                            <p>
                                Jobdogg tackles resume overload for employers who face unqualified, 
                                untested & unvetted candidates and lack of identity & visibility for job seekers.
                                Employers now have access to already vetted candidates with video Introduction while 
                                jobseekers have real identity and visibility and are not just words on a resume.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-4 offset-lg-1 ">  
                    </div>
                </div>
                </div>
            </section>
        </header>
          <!-- Page heading-->
          
        <section>
            
            <div class="card border-0">
            <img class="d-block mx-auto m-2" src="{% static 'images/pngwing.com.png' %}" alt="" width="100" height="100">
            <div class="card-body text-center">
                <h4 class="card-title fontColor-orang">STAFFING MADE SIMPLY</h4>
                <p class="lead card-text">Redefining how people work and get hired.</p>
                <small>Business focus Technology-fueled innovation Delivery excellence</small>
                {% if not user.is_authenticated %}
                <div class="d-grid gap-2 d-sm-flex justify-content-sm-center py-2">
                    <a href="{% url 'account_login' %}" class="btn-booster-orang text-decoration-none">Go Start</a>
                </div>
                {% endif %}
            </div>
            </div>
        </section>
       
        <!--Future.-->
        <section>
            <div class="container px-3 py-5 my-2" id="featured-3">
                <h3 class="pb-2 border-bottom">Features</h3>
                <div class="row g-4 py-3 row-cols-1 row-cols-lg-3">
                <div class="feature col">
                    <div class="feature-icon d-inline-flex align-items-center justify-content-center fs-1 mb-3">
                    <i class="fas fa-hand-holding-usd m-auto fontColor-orang" width="1.7em" height="1.7em"></i>
                    </div>
                    <h5 class="fs-5 ">NO UPFRONT FEES</h5>
                    <p>Complete the assignment and pay afterward. Enjoy a free trial period of 30 days.</p>
                  
                </div>
                <div class="feature col">
                    <div class="feature-icon d-inline-flex align-items-center justify-content-center  fs-1 mb-3">
                        <i class="bi bi-hourglass-top m-auto fontColor-orang" width="1.7em" height="1.7em"></i>
                    </div>
                    <h5 class="fs-5">HIRE 90% FASTER</h5>
                    <p>Effortlessly obtain a comprehensive overview of each candidate and quickly onboard them with One Source, eliminating the hassle of duplicate resumes from various sources.</p>
                  
                </div>
                <div class="feature col">
                    <div class="feature-icon d-inline-flex align-items-center justify-content-center fs-1 mb-3">
                        <i class="fas fa-money-check-alt m-auto fontColor-orang" width="2em" height="2em"></i>
                    </div>
                    <h5 class="fs-5">SAVE MONEY</h5>
                    <p>Job Postings are always Free! Up to 50% lower than Staffing Agency fees. 90% lower than Job Boards.</p>
                   
                </div>
                </div>
                <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
                    <div class="feature col">
                    <div class="feature-icon d-inline-flex align-items-center justify-content-center fs-1 mb-3">
                        <i class="bi bi-clock m-auto fontColor-orang" width="2em" height="2em"></i>
                        
                    </div>
                    <h5 class="fs-5">SAVE TIME</h5>
                    <p>Already vetted candidates with completed backgrounds, skill-set tested, referenced checked, personality tested, and E-Verified.</p>
                   
                    </div>
                    <div class="feature col">
                    <div class="feature-icon d-inline-flex align-items-center justify-content-center  fs-1 mb-3">
                        <i class="bi bi-person-video3  m-auto fontColor-orang" width="2em" height="2em"></i>
                        
                    </div>
                    <h5 class="fs-5">TRANSPARENT</h5>
                    <p>Unscripted Video Resumes. Schedule live on-line, on-demand interviews.</p>
                   
                    </div>
                    <div class="feature col">
                        <div class="feature-icon d-inline-flex align-items-center justify-content-center  fs-1 mb-3">
                            <i class="bi bi-pie-chart-fill  m-auto fontColor-orang" width="2em" height="2em"></i>
                        </div>
                        <h5 class="fs-5">BUSINESS ANALYTICS</h5>
                        <p>Monitor staffing levels, track staffing trends, built in timecard, HR and legal compliance.</p>
                    </div>
                </div>
                <div class="row  py-3 row-cols-1 row-cols-lg-12 ">
                    <div class="feature col">
                    <div class="feature-icon d-inline-flex align-items-center justify-content-center fs-1 mb-3">
                        <i class="fas fa-users m-auto fontColor-orang" width="1.5em" height="1.5em"></i>
                        <i class="fas fa-wheelchair fontColor-orang"></i>
                    </div>
                    <h5 class="fs-5">DIVERSITY & INCLUSION</h5>
                    <p>Our #1 passion is delivering a diverse pool of candidates with every skill-set, 
                        from every industry and every environment, from all gender, age,
                         religion personal identity and social make-up to the Handi-Capable, 
                         Veterans and the Un-Incarcerated.
                    </p>
                    </div>
                </div>
            </div>
        </section>
       
        <!-- Image Showcases-->
        <hr class="fontColor-orang">
        <section class="showcase my-3">
            <div class="container-fluid p-0">
                <div class="row g-0 mb-2">
                    <h3 class="fontColor-blue text-center py-4">HIRE ON DEMAND</h3>
                    <div class="col-lg-6 order-lg-1 px-1 py-1 text-white showcase-img image-shadow" style="background-image: url('/static/images/emplyeerLogo.jpg')">
                        {% if not user.is_authenticated %}
                            <div class="d-grid gap-2 d-md-flex justify-content-sm-center py-2 text-center">
                                <a href="{% url 'account_login' %}" class="btn-booster-white text-decoration-none">Go Start</a>
                            </div>
                        {% endif %}
                    </div>
                    <div class="col-lg-6 order-lg-2 px-1 py-1">
                        <ul class="list-group list-group-flush shadow">
                          <li class="list-group-item"><i class="bi bi-check2-circle px-2 fontColor-orang icon-font" ></i>90% Faster hires with a 360˚ degree view of each candidate</li>
                          <li class="list-group-item"><i class="bi bi-check2-circle px-2 fontColor-orang icon-font"></i>Diverse Pool of Already Vetted Candidates.</li>
                          <li class="list-group-item"><i class="bi bi-check2-circle px-2 fontColor-orang icon-font"></i>Candidates' skill-set evaluated by reliable partners.</li>
                          <li class="list-group-item"><i class="bi bi-check2-circle px-2 fontColor-orang icon-font"></i>Unscripted Video Resumes.</li>
                          <li class="list-group-item"><i class="bi bi-check2-circle px-2 fontColor-orang icon-font"></i>Schedule On-line On-Demand Live Interviews.</li>
                          <li class="list-group-item"><i class="bi bi-check2-circle px-2 fontColor-orang icon-font"></i>Track Staffing Levels built-in Analytics Tool.</li>
                          <li class="list-group-item"><i class="bi bi-check2-circle px-2 fontColor-orang icon-font"></i>Monitor Staffing Trends with built-in Business Analytics Tool.</li>
                          <li class="list-group-item"><i class="bi bi-check2-circle px-2 fontColor-orang icon-font"></i>Hire How, When & Where you need Candidates.</li>
                          <li class="list-group-item"><i class="bi bi-check2-circle px-2 fontColor-orang icon-font"></i>Candidates' Mobile App Available Anywhere.</li>
                          <li class="list-group-item"><i class="bi bi-check2-circle px-2 fontColor-orang icon-font"></i>Job Postings Are Always FREE.</li>
                          <li class="list-group-item"><i class="bi bi-check2-circle px-2 fontColor-orang icon-font"></i>The "Right Fit". with Lower Cost.</li>
                          
                        </ul>
                        
                    </div>
                </div>
                <div class="row g-0 my-5">
                    <h3 class="fontColor-orang text-center pb-3">JOBS ON DEMAND</h3>
                    <div class="col-lg-6 order-lg-2 px-1 py-1 text-white showcase-img image-shadow" style="background-image: url('/static/images/pngwing.com (9).png')">
                        {% if not user.is_authenticated %}
                            <div class="d-grid gap-2 d-md-flex justify-content-sm-center py-3 text-center">
                                <a href="{% url 'account_login' %}" class="btn-booster-orang text-decoration-none">Go Start</a>
                            </div>
                        {% endif %}
                    </div>
                    <div class="col-lg-6 order-lg-1 px-1 py-1">
                        <ul class="list-group list-group-flush shadow">
                          <li class="list-group-item "><i class="bi bi-check2-circle px-2 fontColor-orang icon-font"></i>Real Identity & Visibility.</li>
                          <li class="list-group-item"><i class="bi bi-check2-circle px-2 fontColor-orang icon-font"></i>Job Assignments not just Job Matches.</li>
                          <li class="list-group-item"><i class="bi bi-check2-circle px-2 fontColor-orang icon-font"></i>Work Anytime, Anywhere, Anyplace.</li>
                          <li class="list-group-item"><i class="bi bi-check2-circle px-2 fontColor-orang icon-font"></i>Everywhere Jobs – Mobile Application.</li>
                          <li class="list-group-item"><i class="bi bi-check2-circle px-2 fontColor-orang icon-font"></i>Work How, When & Where you want to Work.</li>
                          <li class="list-group-item"><i class="bi bi-check2-circle px-2 fontColor-orang icon-font"></i>Diversity & Inclusion.</li>
                          <li class="list-group-item"><i class="bi bi-check2-circle px-2 fontColor-orang icon-font"></i>Opportunities For All Skill-Sets,Every Industry,Every Environment.</li>
                          <li class="list-group-item"><i class="bi bi-check2-circle px-2 fontColor-orang icon-font"></i>Disabled & 2nd Chance.</li>
                          <li class="list-group-item"><i class="bi bi-check2-circle px-2 fontColor-orang icon-font"></i>Temporary,Temp-Perm,Permanent,Internships.</li>
                          <li class="list-group-item"><i class="bi bi-check2-circle px-2 fontColor-orang icon-font"></i>Convenient - Fast and Easy Pay Options.</li>
                          <li class="list-group-item"><i class="bi bi-check2-circle px-2 fontColor-orang icon-font"></i>Ride Sharing.</li>
                          <li class="list-group-item"><i class="bi bi-check2-circle px-2 fontColor-orang icon-font"></i>Always FREE.</li>
                          <li class="list-group-item"><i class="bi bi-check2-circle px-2 fontColor-orang icon-font"></i>The ”Right Job”.</li>
                        </ul>
                        
                    </div>
                </div>
                <div class="row g-0">
                    <div class="col-lg-6 text-white showcase-img image-shadow" style="background-image: url('/static/images/pngwing.com66.png')"></div>
                    <div class="col-lg-6 my-auto showcase-text shadow">
                        <h3 class="fontColor-orang">User-friendly Interface</h3>
                        <p class="lead mb-0">Jobdogg.com aims to help you land your dream job with our user-friendly interface that simplifies the job search and application process. Receive multiple job offers and stay up-to-date with personalized job alerts. Thank Jobdogg.com for your job search success!</p>
                        {% if not user.is_authenticated %}
                            <div class="d-grid gap-2 d-md-flex justify-content-sm-center py-3 text-center">
                                <a href="{% url 'account_login' %}" class="btn-booster-orang text-decoration-none">Go Start</a>
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div class="row g-0">
                    <div class="col-lg-6 order-lg-2 text-white showcase-img image-shadow" style="background-image: url('/static/images/pngwing.com (33).png'); "></div>
                    <div class="col-lg-6 order-lg-1 my-auto showcase-text shadow">
                        <h3 class="fontColor-orang">Multiple Job Offers</h3>
                        <p class="lead mb-0">Jobdogg.com aims to help you land your dream job with our user-friendly platform that simplifies job searching and application processes. Get ready to receive multiple job offers and stay updated with personalized job alerts.</p>
                        {% if not user.is_authenticated %}
                            <div class="d-grid gap-2 d-md-flex justify-content-sm-center py-3 text-center">
                                <a href="{% url 'account_login' %}" class="btn-booster-orang text-decoration-none">Go Start</a>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </section>

        <hr class="fontColor-orang">
        <!-- FEATURED CLIENTS Code -->
        <section>
            <div class="container text-center mb-4">
                <h4 class="fontColor-orang text-center py-4">FEATURED CLIENTS</h4>
                <div class="row row-cols-2 row-cols-lg-6 g-1 g-lg-3">
                <div class="col ">
                    <div class="p-1 shadow border bg-light"><img src="{% static 'images/els.png'%}" class="d-block w-100" alt="..."></div>
                </div>
                <div class="col">
                    <div class="p-1 shadow border bg-light"> <img src="{% static 'images/job-corps.png'%}" class="d-block w-100" alt="..."></div>
                </div>
                <div class="col">
                    <div class="p-1 shadow border bg-light"><img src="{% static 'images/Christian_Academy.png'%}" class="d-block w-100" alt="..."></div>
                </div>
                <div class="col">
                    <div class="p-1 shadow border bg-light"> <img src="{% static 'images/captial-ontap-logo.png'%}" class="d-block w-100" alt="..."></div>
                </div>
                <div class="col">
                    <div class="p-1 shadow border bg-light"><img src="{% static 'images/Lyft_icon.png'%}" class="d-block w-100" alt="..."></div>
                </div>
                <div class="col">
                    <div class="p-1 shadow border bg-light"> <img src="{% static 'images/png-transparent-uber.png'%}" class="d-block w-100" alt="..."></div>
                </div>
                
                </div>
            </div>
        </section>

        <hr class="fontColor-orang">
        <!-- Testimonials-->
        <section class="testimonials text-center bg-light ">
            <div class="container">
                <h2 class="mb-5 fw-strong fontColor-orang py-3 text-center"><i class="bi bi-quote display-4"></i> What people are saying...</h2>
                
                <div class="row">
                    <div class="col-lg-4">
                        <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                            <img class="img-fluid rounded-circle mb-3" src="{% static 'images/testimonials-1.jpg'%}" alt="..." />
                            <h5>Margaret E.</h5>
                            <i class="bi bi-chat-right-heart fs-3 px-2 fontColor-orang "></i><small class="font-weight-light mb-0 ">"This is fantastic! Jobdogg.com is an exceptional platform that streamlined my job search. Thanks so much guys!"
                                <a class="fontColor-orang" href="{% url 'testimonial:testimonial_list' %}"><i class="bi bi-box-arrow-in-up-right "></i></a>
                            </small>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                            <img class="img-fluid rounded-circle mb-3" src="{% static 'images/testimonials-2.jpg'%}" alt="..." />
                            <h5>Fred S.</h5>
                            <i class="bi bi-chat-right-heart fs-3 px-2 fontColor-orang "></i><small class="font-weight-light mb-0">"I landed my dream job within weeks of signing up. 
                                 I highly recommend Jobdogg.com to job seekers."
                                 <a class="fontColor-orang" href="{% url 'testimonial:testimonial_list' %}"><i class="bi bi-box-arrow-in-up-right "></i></a>
                            </small>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                            <img class="img-fluid rounded-circle mb-3" src="{% static 'images/testimonials-3.jpg' %}" alt="..." />
                            <h5>Sarah W.</h5>
                            <i class="bi bi-chat-right-heart fs-3 px-2 fontColor-orang "></i><small class="font-weight-light mb-0">
                                "The website's user-friendly interface and personalized job recommendations 
                                made it easy to find the right fit.Thanks so much for making these freeliy available to us!"
                                <a class="fontColor-orang" href="{% url 'testimonial:testimonial_list' %}"><i class="bi bi-box-arrow-in-up-right "></i></a>
                            </small>
                        </div>
                    </div>
                </div>
                
            </div>
        </section>
        <hr class="fontColor-orang">

        <section class="on-demand">
            <div class="container">
       
                <div class="row ">
                    <div class="col-lg-12">
                        <div class="container text-center">
                            <div class="row row-cols-1 row-cols-lg-5 g-2 g-lg-3">
                              <div class="col">
                                <div class="p-3 border-0 bg-wight p-auto"> 
                                  <h1 class="d-flex gap-2">
                                    <span class="badge  ">
                                      <i class="bi bi-check2-circle "></i>
                                    <span>
                                        Easy
                                  </h1>
                                </div>
                              </div>
                              <div class="col">
                                <div class="p-3 border-0 bg-wight p-auto"> 
                                  <h1 class="d-flex gap-2">
                                    <span class="badge ">
                                      <i class="bi bi-check2-circle "></i>
                                    <span>
                                        Fast
                                  </h1>
                                </div>
                              </div>
                              <div class="col">
                                <div class="p-3 border-0 bg-wight p-auto"> 
                                  <h1 class="d-flex gap-2">
                                    <span class="badge  ">
                                      <i class="bi bi-check2-circle "></i>
                                    <span>
                                        Flexible
                                  </h1>
                                </div>
                              </div>
                              <div class="col">
                                <div class="p-3 border-0 bg-wight p-auto"> 
                                  <h1 class="d-flex gap-2">
                                    <span class="badge  ">
                                      <i class="bi bi-check2-circle "></i>
                                    <span>
                                        Efficient
                                  </h1>
                                </div>
                              </div>
                              <div class="col">
                                <div class="p-3 border-0 bg-wight p-auto"> 
                                  <h1 class="d-flex gap-2">
                                    <span class="badge  ">
                                      <i class="bi bi-check2-circle "></i>
                                    <span>
                                        Reliable
                                  </h1>
                                </div>
                              </div>
                            </div>
                          </div>
                    </div>
                </div>
            
            </div>
        </section>
        
        <!--HIRE IN MINUTES 3-jobdogg --> 
        <section>    
            <div class="container mt-4">
                <h4 class="py-2 text-center fontColor-orang">HIRE IN MINUTES </h4>
                <h6 class="mb-4 text-center fontColor-orang">Step by Step Process:</h6>
                <div class="row ">
                    <div class="col-md-6 bg-light">
                        <ul class="list-group gap-2  ">
                            <li class="list-group-item ">
                                <div class="d-flex fontColor-orang "><h3 class=""><i class="bi bi-1-square-fill mx-1"></i></h3><h6> THE PERKS </h6></div>
                                <ul class="list-group shadow">
                                    <li class="list-group-item ">Payroll Options</li>
                                    <li class="list-group-item ">Ride Sharing</li>
                                </ul>
                            </li>
                            <li class="list-group-item ">
                                <div class="d-flex pb-3 fontColor-orang "><h3 class=""><i class="bi bi-2-square-fill mx-1"></i></h3><h6> LIVE INTERVIEWS </h6></div>
                                <ul class="list-group shadow">
                                    <li class="list-group-item ">Schedule Anytime</li>
                                    <li class="list-group-item ">On-line live interviews</li>
                                </ul>
                            </li>
                            <li class="list-group-item ">
                                <div class="d-flex pb-3 fontColor-orang"><h3 class=""><i class="bi bi-3-square-fill mx-1"></i></h3><h6> STAR RATED </h6></div>
                                <ul class="list-group shadow">
                                    <li class="list-group-item ">Employer Rated</li>
                                    <li class="list-group-item ">Peer Rated</li>
                                    <li class="list-group-item ">Community Rated</li>
                                </ul>
                            </li>
                            <li class="list-group-item">
                                <div class="d-flex pb-3 fontColor-orang"><h3 class=""><i class="bi bi-4-square-fill mx-1"></i></h3><h6> VIDEO RESUME </h6></div>
                                <ul class="list-group shadow">
                                    <li class="list-group-item ">Unscripted</li>
                                    <li class="list-group-item ">Transparent</li>
                                    <li class="list-group-item ">360° View</li>
                                    <li class="list-group-item ">Real Identity/Visibilty</li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-6 bg-light ">
                        <ul class="list-group gap-2">
                        <li class="list-group-item ">
                                <div class="d-flex pb-3 fontColor-orang"><h3 class=""><i class="bi bi-5-square-fill mx-1"></i></h3><h6> SKILL-SET TESTED</h6></div>
                                <ul class="list-group shadow">
                                    <li class="list-group-item ">3000+ Skill Assessments</li>
                                    <li class="list-group-item ">7000+ Skill-Sets</li>
                                    <li class="list-group-item "> Build Your Own and Create for specific needs</li>
                                </ul>
                        </li>
                        <li class="list-group-item ">
                            <div class="d-flex pb-3 fontColor-orang "><h3 class=""><i class="bi bi-6-square-fill mx-1"></i></h3><h6> BUSINESS ANALYTICS</h6></div>
                            <ul class="list-group shadow">
                                <li class="list-group-item ">Run/Print Reports</li>
                                <li class="list-group-item ">HR Legal/Compliance</li>
                                <li class="list-group-item ">Calculate</li>
                                <li class="list-group-item ">Timecards</li>
        
                            </ul>
                        </li>
                        <li class="list-group-item ">
                            <div class="d-flex pb-3 fontColor-orang"><h3 class=""><i class="bi bi-7-square-fill mx-1"></i></h3><h6> COMPLETED BACKGOUNDS</h6></div>
                            <ul class="list-group shadow">
                                <li class="list-group-item ">7 Year history</li>
                                <li class="list-group-item ">Education</li>
                                <li class="list-group-item ">Certifications</li>
                                <li class="list-group-item ">Employment</li>
                                <li class="list-group-item ">References</li>
                                <li class="list-group-item ">E-Verified</li>
                            </ul>
                        </li>
                        
                        </ul>
                    </div>
                </div> 
            </div>
        </section>

        <!--logo-hero-->
        <hr>
        <section>
            <div class="position-relative ">
                <img src="{% static 'images/banner-new2.png' %}" width="100%" height="60%" class="img-fluid" alt="banner">
               <!--<div class="px-auto text-center" >
                    <h4 class="text-body-emphasis fontColor-orang py-1">What you wating for ?</h4>
                    <p class="lead fontColor-blue pb-2">
                        Get connected to our Sales Team for hourly, daily and salaried assignments.
                    </p>
                    </div>-->
            </div>
        </section>
        <hr>
        <section id="scroll">
            <div class="container px-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-6 order-lg-2">
                        <div class="p-5"><img class="img-fluid rounded-circle" width="70%" height="70%" src="{% static 'images/3-jobdogg.png'%}" alt="..."></div>
                    </div>
                    <div class="col-lg-6 order-lg-1">
                        <div class="p-5">
                            <h6 class="display-6">Need Work Now?</h6>
                            <p>Get connected to our Sales Team for hourly, daily and salaried assignments.</p>
                            <a href="mailto:employeractivation@jobdogg.com" class="btn-booster-orang text-decoration-none">Start</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        <section>
            <div class="container mx-2 my-3 py-3 px-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-6">
                        <div class=" py-3 px-5">
                            <img class="img-fluid rounded-circle" width="70%" height="70%" src="{% static 'images/4-jobdogg.png'%}" alt="...">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="p-5">
                            <h6 class="display-6">Need Staff Now?</h6>
                            <p>Get connected to our Sales Team for hourly, daily and salaried workers.</p>
                            <a class="btn-booster-blue text-decoration-none" href="mailto:employeractivation@jobdogg.com">Start</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <hr class="fontColor-orang">

        <section class="py-2 text-center container">
              <div class="row py-lg-2">
                <div class="col-lg-10 col-md-8 mx-auto">
                  <h4 class="fw-light fontColor-orang py-2">A Local & Global Employment Marketplace</h4>
                  <p class="small text-muted text-start">
                    Jobdogg is the Next Generation "One Stop" Global "Job Assignment" platform, 
                    where employers and job seekers connect through video resumes of already vetted
                    candidates for immediate hire. Delivering a Convenient, flexible, fast, efficient, 
                    and reliable way to hire a diverse pool of people instantaneously. Jobdogg is transforming
                    & advancing the functions of pyhsical brick-and-mortar staffing agencies & internet recruiting job boards.
                  </p>
                </div>
              </div>
        </section>
        
        <!--<section class="mb-5">
            <div class="container my-5">
                <div class="m-auto" style="width: 400px; height:100px;">
                    <h3 class="fontColor-orang text-center py-4">FEATURED CLIENTS</h3>
                    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="{% static 'images/els.png'%}" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="{% static 'images/captial-ontap-logo.png'%}" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="{% static 'images/Christian_Academy.png'%}" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item active">
                                <img src="{% static 'images/job-corps.png'%}" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="{% static 'images/Lyft_icon.png'%}" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="{% static 'images/png-transparent-uber.png'%}" class="d-block w-100" alt="...">
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
           </div>
        </section>-->
        <!--carousel Code -->
        <hr class="fontColor-orang">
        <section> 
            <div class="album py-3 bg-light">
                <div class="container">
                    <h4 class="fw-strong fontColor-orang py-3 text-center">OUR INTEGRATED PARTNERS</h4>
                    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-5 g-3">
                        <div class="col">
                            <a href="https://eskill.com/" target="_blank"><div class="card shadow-sm mx-auto">
                                <img class="bd-placeholder-img card-img-top " width="100%" height="200" src="{% static 'images/eSkilllogo.png'%}" alt="...">
                            </div></a>
                        </div>
                        <div class="col">
                            <a href="https://eskill.com/" target="_blank"><div class="card shadow-sm m-auto">
                                <img class="bd-placeholder-img card-img-top" width="100%" height="200" src="{% static 'images/100pt_Intellicorp.png'%}" alt="...">
                            </div></a>
                        </div>
                        <div class="col">
                            <a href="https://eskill.com/" target="_blank"><div class="card shadow-sm m-auto">
                                <img class="bd-placeholder-img card-img-top" width="100%" height="200" src="{% static 'images/sperisian.png'%}" alt="...">
                            </div></a>
                        </div>
                       
                        <div class="col">
                            <a href="https://eskill.com/" target="_blank"><div class="card shadow-sm m-auto">
                                <img class="bd-placeholder-img card-img-top" width="100%" height="200" src="{% static 'images/paychex-logo.png'%}" alt="...">
                            </div></a>
                        </div>
                        <div class="col">
                            <a href="https://eskill.com/" target="_blank"><div class="card shadow-sm m-auto">
                                <img class="bd-placeholder-img card-img-top" width="100%" height="200" src="{% static 'images/logo-white-bg.png'%}" alt="...">
                            </div></a>
                        </div>
                        <div class="col">
                            <a href="https://eskill.com/" target="_blank"><div class="card shadow-sm m-auto">
                                <img class="bd-placeholder-img card-img-top" width="100%" height="200" src="{% static 'images/ADP-logo.png'%}" alt="...">
                            </div></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
         <hr>
        <!-- Call to Action-->
        <section class="text-white my-2 mx-auto" id="signup">
            
           {% block form-subscribe %}{% endblock  %} 
           <div class="container">
                <div class="row text-center m-auto justify-center">
                    <div class="col-xl-10 fontColor-blue">
                        <h5 class="mb-4 fontColor-blue">{% if not user.is_authenticated %}
                            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center py-2">
                               <h5> Ready to get started?  <a href="{% url 'account_login' %}" class="btn-booster-orang text-decoration-none">Go Start</a> or subscribe  for our newslette</h5>
                            </div>
                            {% endif %}
                            <form method="POST" action="{% url 'pages:homepage' %}" class="form-subscribe" id="contactFormFooter">
                                    {% csrf_token %} 
                                <div class="row">
                                    <div class="col">
                                        <div id="div_id_email" class="mb-3"> 
                                           <input type="email" name="email" class="form-control form-control-sm emailinput" id="emailAddressBelow" placeholder="Email Address" data-sb-validations="required" required="">
                                         </div>
                                    </div>
                                    <div class="col-auto">
                                        <button class="btn-booster-orang" name="subscribe" id="submitButton" type="submit">subscribe</button>
                                    </div>
                                </div>
                                <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Error sending message!</div></div>
                            </form>
                            
                    </div>                 
                </div>
            </div> 
        </section>

        <section class="call-to-action-this text-white text-start my-2 " >
            <div class="container position-relative">
                <div class="row justify-content-between">
                    <div class="col-lg-12">
                    
                    </div>               
                </div>
            </div>
        </section>
        <!--social midea-->
        <section>
            <div class="container text-center ">
                <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-1">
                <div class="col">
                    <a href="#" class="text-decoration-none">
                        <div class="p-3 border-0 bg-wight p-auto d-flex gap-1"> 
                        <h4 class=" fontColor-blue"><i class="bi bi-linkedin fontColor-blue"></i></h4>
                        <h6 class="fontColor-blue text-bolder">Jobdogg</h6>
                        </div>
                    </a>
                </div>
                <div class="col">
                    <a href="#" class="text-decoration-none">
                        <div class="p-3 border-0 bg-wight p-auto d-flex gap-1">
                        <h4 class="d-flex gap-1 fontColor-blue"><i class="bi bi-instagram fontColor-blue"></i></h4>
                        <h6 class="fontColor-blue text-bolder">Jobdogg</h6>
                        </div>
                    </a>
                </div>
                <div class="col">
                    <a href="#" class="text-decoration-none">
                        <div class="p-3 border-0 bg-wight p-auto d-flex gap-1">
                            <h4 class="d-flex gap-1 fontColor-blue"><i class="bi bi-facebook fontColor-blue"></i></h4>
                            <h6 class="fontColor-blue text-bolder">Jobdogg</h6>
                        </div>
                    </a>
                </div>
                <div class="col">
                    <a href="#" class="text-decoration-none">
                        <div class="p-3 border-0 bg-wight p-auto d-flex gap-1">
                            <h4 class="d-flex gap-1 fontColor-blue"><i class="bi bi-tiktok fontColor-blue"></i></h4>
                            <h6 class="fontColor-blue text-bolder">Jobdogg</h6>
                        </div>
                    </a>
                </div>
                <div class="col">
                    <a href="#" class="text-decoration-none">
                        <div class="p-3 border-0 bg-wight p-auto d-flex gap-1">
                            <h4 class="d-flex gap-1 fontColor-blue"><i class="bi bi-twitter fontColor-blue"></i></h4>
                            <h6 class="fontColor-blue text-bolder">Jobdogg</h6>
                        </div>
                    </a>
                    </div>
                </div>
                </div>
            </div>
        </section>
</div>
{% endblock %}