{% extends 'pages/employee_dashboard.html' %}
{% load static %}
{% load applied_custom_filters %}
{% load crispy_forms_tags %}
{% load user_tags %}
{% block title %}Recommended Jobs List{% endblock %}
{% block dashboard_employee %}
<div class="container">
    <div class='row'>
        <div class="col-xl-10 col-lg-10">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-2 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-jobdogg">Job Details</h6>
                    
                    <div class="dropdown">
                        <button class="btn btn-sm btn-white border-0 ropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi bi-three-dots"></i>
                        </button>
                        <ul class="dropdown-menu">
                        <li><a class="dropdown-item" type="button" href="{% url 'employer:job_requisition_update' slug=object.slug %}" >Update</a></li>
                        {% if user.is_authenticated and user|is_admin %}
                        <li><a class="dropdown-item" type="button" href="{% url 'employer:job_requisition_delete' slug=object.slug %}">Delete</a></li>
                        {% endif %}
                        <li><a class="dropdown-item" type="button" href="{% url 'recommendedByAI:job-recommended-list' %}">Back</a></li>
                        </ul>
                    </div>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <h4 class="small font-weight-bold mb-2">User: <span class="text-muted px-3">{{ recommended_job.user.username }}</span></h4>
                    <hr class="small font-weight-light text-warning">
                    <h4 class="small font-weight-bold mb-2">Job Requisition: <span class="text-muted  px-3">{{ recommended_job.job_requisition.industry }}</span></h4>
                    <hr class="small font-weight-light text-warning">
                    <h4 class="small font-weight-bold mb-2">Job Title:
                        <span class="text-muted  px-3">
                            {% for title in recommended_job.job_requisition.job_title.all %}
                            {{ title.position }}{% if not forloop.last %}, {% endif %}{% endfor %}
                        </span>
                    </h4>
                    <hr class="small font-weight-light text-warning">
                    <h4 class="small font-weight-bold mb-2">Required Skills: 
                        <span class="text-muted  px-3">
                            {% for title in recommended_job.job_requisition.required_skills.all %}
                            {{ title.skill }}{% if not forloop.last %}, {% endif %}{% endfor %},{{ recommended_job.job_requisition.custom_required_skills }}
                        </span>
                    </h4>
                    <hr class="small font-weight-light text-warning">
                    
                    <div class="btn-group text-muted pt-3 gap-2">
                        {% if not recommended_job|has_applied:request.user %}
                        <div id="isAplied" class="d-block">
                            <form action="{% url 'recommendedByAI:apply-job' slug=recommended_job.slug %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-sm btn-outline-Jobdogg">Apply Now</button>
                            </form>
                            
                            <!-- Button trigger modal <a href="{% url 'recommendedByAI:job-recommended-delete' slug=recommended_job.slug %} " class="btn btn-sm btn-outline-danger">Delete</a>-->
                            <button type="button"class="btn btn-sm btn-outline-danger" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                                Delete
                            </button>
                        </div>
                        {% endif %}
                        <a href="{% url 'recommendedByAI:job-recommended-list' %} " class="btn btn-sm btn-outline-Jobdogg">Back</a>
                      </div>
                </div> 
            </div>
        </div>
    </div>
    
    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h1 class="modal-title fs-5" id="staticBackdropLabel">Delete Recommended Job</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p class="pt-3">Are you sure you want to delete the following job?</p>
                <div class="d-flex text-muted">
                    <p class="pb-1 mb-0 small lh-sm ">
                        <strong class="d-block text-gray-dark">User: {{ recommended_job.user.username }}</strong>
                        <strong class="d-block">Job Requisition:  {% for title in recommended_job.job_requisition.job_title.all %}
                            {{ title.position }}{% if not forloop.last %}, {% endif %}{% endfor %}</strong>
                    </p>
                </div>
            </div>
            <div class="modal-footer">
                <form action="{% url 'recommendedByAI:job-recommended-delete' slug=recommended_job.slug%}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-sm btn-outline-danger">Delete</button>
                </form>
                <a href="{% url 'recommendedByAI:job-recommended-list' %}" class="btn btn-sm btn-outline-info">Back</a>
                <button type="button" class="btn btn-sm btn-outline-secondary" data-bs-dismiss="modal">Close</button>
                
            </div>
        </div>
        </div>
    </div>
</div>
{% endblock %}
