{% extends 'pages/employee_dashboard.html' %}
{% load static %}
{% load user_tags %}
{% block title %}Bank Account Detail{% endblock %}
{% block dashboard_employee %}
    <!-- Example Code -->
    <div class="col-xl-6 col-lg-6">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-2 d-flex flex-row align-items-center justify-content-between">
                <h5>{{card.user.username|capfirst}} Bank Account Detail</h5>
                <div>
                    <a href="{% url 'employee:bankAccount_update' slug=bankAccount.slug %}" class="btn btn-sm btn-outline-success">Edit</a>
                    <a href="{% url 'employee:bankAccount_list' %}" class="btn btn-sm btn-outline-primary">Back</a>
                </div>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <div class="row mt-2">
                    <div class="col-md-12">
                        <dl class="row">
                            <dt class="col-sm-4">Bank Account :</dt>
                            <dd class="col-sm-8">{{ bankAccount.account_number }}</dd>
                             
                            <dt class="col-sm-4">Routing Number:</dt>
                            <dd class="col-sm-8"> {{ bankAccount.routing_number }}</dd>
                            
                            <dt class="col-sm-4">Validity :</dt>
                            <dd class="col-sm-8">{{ bankAccount.validity }}</dd>
                            
                            <dt class="col-sm-4">Created :</dt>
                            <dd class="col-sm-8">{{ bankAccount.created }}</dd>
                            
                            <dt class="col-sm-4">Updated :</dt>
                            <dd class="col-sm-8">{{ bankAccount.updated }}</dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- End Example Code -->
{% endblock %}

