{% extends 'pages/employee_dashboard.html' %}
{% load static %}
{% load user_tags %}
{% block title %}BankAccount Information{% endblock %}
{% block dashboard_employee %}
    <!-- Example Code -->
    <div class="col-xl-8 col-lg-6">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-2 d-flex flex-row align-items-center justify-content-between">
                <h5>BankAccount Information</h5>
                <div class="btn-group gap-2">
                  {% if not bankAccounts %}
                  <a class="btn btn-sm btn-outline-primary" href="{% url 'employee:bankAccount_create' %}">Create</a>
                  {% endif %}
                  <a class="btn btn-sm btn-outline-secondary" href="{% url 'employee:profile_building_progress' %}">Back</a>
                </div>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <ul class="list-unstyled ">
                    {% for bankAccount in bankAccounts %}
                    <li >
                        <div class="py-3 d-flex flex-row align-items-center justify-content-between">
                            <div>
                               <!--{{ user.username }}-->
                               {% if user.avatar and not form.avatar.errors %}
                               <img src="{{ user.avatar.url }}" alt="Avatar" width="30" height="30" class="rounded mr-3 align-self-center img-fluid shadow"/>
                               {% else %}
                               <img class="rounded mr-3 align-self-center img-fluid shadow" src="{% static 'images/userPlaceHolder.png' %}" alt="Logo" width="30" height="40"/>
                               {% endif %}
                               <a class="text-dark text-decoration-none" href="{% url 'employee:bankAccount_detail' slug=bankAccount.slug %}">{{ bankAccount.user.username|capfirst}}
                                <i class="bi bi-box-arrow-in-up-right px-1"></i>
                               </a>
                               
                            </div>
                            <div class="d-flex flex-row align-items-center justify-content-between gap-2">
                                
                                <a class="btn btn-sm btn-outline-warning"
                                 href="{% url 'employee:bankAccount_update' slug=bankAccount.slug %}"><i class="bi bi-pen"></i></a>
                                {% if user.is_authenticated and user|is_admin %}
                                <a class="btn btn-sm btn-outline-danger" 
                                 href="{% url 'employee:bankAccount_delete' slug=bankAccount.slug %}">Delete</a>
                                {% endif %}
                                </div>
                        </div>
                    </li>
                    {% empty %}
                    <li>No card Information found.</li>
                    {% endfor %}
                </ul>  
            </div>
           
        </div>
    </div>
{% endblock %}