@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

body
{
        font-family: 'Poppins', sans-serif;
        margin: 0;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.5;
        /*color: #858796;*/
        text-align: left;
        background-color: #fff;
        
}
a{ 
    text-decoration: none;
}
.bg-jobdogg{
  background-color: rgb(247,247,247); /*company color*/ 
 
}
.navHeader{
  background-color: #e06a00; /*company color*/
  color: #fff;
}
.navFooter{
  /*background-color: #123f8b; /*company color*/
  background: linear-gradient(#123f8b,#e06a00), url(/static/images/pngwing78.png);
  color: #fff;
}

/* button */
.btn-booster-white {
  color: #fcfbfa;
  background-color: transparent;
  border-color: #fdfcfb;
  border-width: 2px;
  border-style: solid;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1;
  border-radius: 0.25rem;
  transition: all 0.2s ease-in-out;
}

.btn-booster-white:hover {
  color: #e06a00;
  background-color: #faf8f7;
  border-color: #faf9f7;
  text-decoration: none;
}
.btn-booster-orang {
  color: #e06a00;
  background-color: transparent;
  border-color: #e06a00;
  border-width: 2px;
  border-style: solid;
  padding: 6px 8px;
  font-size: 14px;
  line-height: 1;
  border-radius: 0.25rem;
  transition: all 0.1s ease-in-out;
}

.btn-booster-orang:hover {
  color: #fff;
  background-color: #e06a00;
  border-color: #e06a00;
  text-decoration: none;
}

.btn-booster-blue {
  color: #123f8b;
  background-color: transparent;
  border-color: #123f8b;
  border-width: 2px;
  border-style: solid;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1;
  border-radius: 0.25rem;
  transition: all 0.3s ease-in-out;
}

.btn-booster-blue:hover {
  color: #fff;
  background-color: #123f8b;
  border-color: #123f8b;
  text-decoration: none;
}
.s-font{
  font-size: 13px;
}
.s1-font{
  font-size: 14px;
}
.textFooter{
  color: #fff;
}
.textFooter2{
  color: #d4cddf;
}
a.textFooter4{
  color: #d4cddf;
  text-decoration: none;
  font-size: 13px;
}
li.textFooter3{
    color: #cac6c2;
    font-size: 14px;
}
.textFooter5{
  color: #d4cddf;
  font-size: 12px;
}

.fontColor{
  color: #faf8f7;
}
.fontColor-orang{
  color: #e06a00;
}
.fontColor-blue{
  color: #123f8b;
}
.border-color-orang{
  border: #e06a00 1px;
}
.border-color-blue{
  border: #123f8b;
}
.icon-font{
  font-size: 20px;
}
.logHeader{
  background-color: rgb(238, 181, 107);
}
header.masthead1 {
    position: absolute;
    background-color: #123f8b;
    background: url(/static/images/pngwing78.png) no-repeat center center;
    background-size: cover;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 60%;
    width: 100%;
   
}
section.signup{
    position: relative;
    background-color: #303031;
    background: url(../assets/img/bg-masthead.jpg) no-repeat center center;
    background-size: cover;
    padding-top: 3rem;
    padding-bottom: 1rem;
}
.image-shadow{
  position: relative;
  background-color: #bbb8b6;
  background: url(../assets/img/bg-masthead.jpg) no-repeat center center;
  background-size: cover;
  margin: 10px auto;
 
}
.call-to-action-this {
  position: relative;
  background-color: #e3e7eb;
  background: url(/static/images/map1.png) no-repeat center center;
  background-size: cover;
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.signup {
  position: relative;
  height: 40vh;
  width: 100%;
  border-radius: 2px;
  background-color: #061e36;
  background: linear-gradient(#e06a00, #123f8b), url(/static/images/pngwing78.png);
  background-size: cover;
  background-position: center;
}

.signup-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-10%, -10%);
  color: #e77a15;
  text-align: center;
}

.masthead {
    position: relative;
    height: 60vh;
    width: 100%;
    border-radius: 5px;
    background-color: #f8f9fa;
    background: linear-gradient(#e06a00, rgba(0, 0, 0, 0.5)), url(/static/images/pngwing.com44.png);
    background-size: cover;
    background-position: center;
    margin: 10 auto;
}
.masthead-content {
    position: absolute;
    top: 50%;
    left: 37%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: left;
}

.masthead-content h3 {
    font-size: 1.1rem;
    margin-bottom: 1.5rem;
    width: 100%;
    margin-top: auto;
}

.masthead-content p {
    font-size: 15px;
    margin-bottom: 2rem;
    width: 100%;
    margin: auto;
  }

@media (min-width: 576px) {
    header.masthead {
      padding-top: 12rem;
      padding-bottom: 12rem;
    }
    header.masthead h3, header.masthead .h3 {
      font-size: 1.5rem;
    }
    
}

section.on-demand{
    background-color: #e06a00;
    background-image: url(/static/images/pngwing.com44.png);
    min-height: 150px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*side menu*/
.text-bg-dark1 {
  color: #fff !important;
  background-color: #061e36 !important;
  opacity: 1;
}



.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
  text-align: center;
}
.rating input {
  display: none;
}
.rating label {
  display: inline-block;
  padding: 5px;
  color: #ddd;
  font-size: 2rem;
  transition: color 0.3s;
  cursor: pointer;
}
.rating label:hover,
.rating label:hover ~ label,
.rating input:checked ~ label {
  color: #ffc107;
}


.ratio {
  position: relative;
  width: 100%;
}

.ratio::before {
  content: '';
  display: block;
  padding-top: calc(9 / 21 * 100%); /* Set the aspect ratio (e.g., 16:9) */
}

.embed-responsive-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.embed-responsive {
  width: 100%;
  height: 100%;
}




/***Ride preference***/

.modalCss{
  min-height: 50vh;
  min-width: 50vw;
}
.parent{
  height: 30vh;
}
.parent>.row{
  display: flex;
  align-items: center;
  height: 40%;
}
.col img{
  height:100px;
  width: 100%;
  cursor: pointer;
  transition: transform 1s;
  object-fit: cover;
}
.col label{
  overflow: hidden;
  position: relative;
}
.imgbgchk:checked + label>.tick_container{
  opacity: 1;
}
/*         aNIMATION */
.imgbgchk:checked + label>img{
  transform: scale(1.25);
  opacity: 0.3;
}
.tick_container {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  cursor: pointer;
  text-align: center;
}
.tick {
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  padding: 6px 12px;
  height: 40px;
  width: 40px;
  border-radius: 100%;
}