@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

body
{
  font-family: 'Poppins', sans-serif;
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  /*color: #858796;*/
  text-align: left;
  background-color: #fff;      
 /* background: linear-gradient(#0a0a0afb, #598ee980), url('{% static 'images/footer-bg.png' %}') center bottom no-repeat #29292b; */
}
a{ 
    text-decoration: none;
}

/* .jobdogg-logo {
  width: 100px;
  height: 50px;
  margin-top: 10px;
  background: url(/static/images/jobdogg_logo.png) no-repeat left top; 
  background-size: 89%;
}  */
.bg-jobdogg{
  background-color: #fff; /*company color*/ 
 
}
.navHeader{
  background-color: #123f8b; /*company color*/
  color: #e06a00;
}
.navFooter{
  color: #fff;
  padding-top: 60px;
  padding-bottom: 20px;
  width:100% ; 
 
}

#navbarNav a{
  color: #F0953C;
  
}

/* button */
.btn-booster-white {
  color: #fcfbfa;
  background-color: transparent;
  border-color: #fdfcfb;
  border-width: 2px;
  border-style: solid;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1;
  border-radius: 0.25rem;
  transition: all 0.2s ease-in-out;
}

.btn-booster-white:hover {
  color: #e06a00;
  background-color: #faf8f7;
  border-color: #faf9f7;
  text-decoration: none;
}
.btn-booster-orang {
  color: #e06a00;
  background-color: transparent;
  border-color: #e06a00;
  border-width: 2px;
  border-style: solid;
  padding: 6px 8px;
  font-size: 14px;
  line-height: 1;
  border-radius: 0.25rem;
  transition: all 0.1s ease-in-out;
}

.btn-booster-orang:hover {
  color: #fff;
  background-color: #e06a00;
  border-color: #e06a00;
  text-decoration: none;
}

.btn-booster-blue {
  color: #123f8b;
  background-color: transparent;
  border-color: #123f8b;
  border-width: 2px;
  border-style: solid;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1;
  border-radius: 0.25rem;
  transition: all 0.3s ease-in-out;
}

.btn-booster-blue:hover {
  color: #fff;
  background-color: #123f8b;
  border-color: #123f8b;
  text-decoration: none;
}
.s0-font{
  font-size: 11px;
}
.s-font{
  font-size: 13px;
}
.s1-font{
  font-size: 14px;
}
.s2-font{
  font-size: 16px;
}
.s3-font{
  font-size: 18px;
}
.textFooter{
  color: #fff;
}
.textFooter2{
  color: #e68507;
}
a.textFooter4{
  color: #d4cddf;
  text-decoration: none;
  font-size: 13px;
}
li.textFooter3{
    color: #cac6c2;
    font-size: 14px;
}
.textFooter5{
  color: #d4cddf;
  font-size: 12px;
}
.search-btn{
  background: #e06a00;
  color: #fff;
}
.fontColor{
  color: #faf8f7;
}
.fontColor-orang{
  color: #e06a00;
}
.getwork h3,
.getwork h4,
.getwork h5,
.getwork h6 {
      font-weight: bolder;
}
.fontColor-blue{
  color: #123f8b;
}
.border-color-orang{
  border: #e06a00 1px;
}
.border-color-blue{
  border: #123f8b;
}
.icon-font{
  font-size: 20px;
}
.logHeader{
  background-color: rgb(238, 181, 107);
}
header.masthead1 {
    position: absolute;
    background-color: #123f8b;
    /* background: url(/static/images/pngwing78.png) no-repeat center center; */
    background-size: cover;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 60%;
    width: 100%;
   
}
section.signup{
    position: relative;
    background-color: #303031;
    background: url() no-repeat center center;
    background-size: cover;
    padding-top: 3rem;
    padding-bottom: 1rem;
}
.image-shadow{
  position: relative;
  background-color: #bbb8b6;
  background-size: cover;
  background-size: cover;
  padding-top: 3rem;
  padding-bottom: 3rem;
  height: 40vh;
  width: 100%;
}

.signup {
  position: relative;
  border-radius: 2px;
  background-color: #061e36;
  /* background: linear-gradient(#e06a00, #123f8b), url(/static/images/pngwing78.png); */
  background-size: cover;
  background-position: center;
} 

.signup-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-10%, -10%);
  color: #e77a15;
  text-align: center;
}
.un-span{
 font-style: italic;
 font-family: sans-serif;
 color: #e77a15;
 font-variant-caps: all-petite-caps;
 font-size: 40px;

}
#featured-3{
  background-color: #f8edbefb;
}

/* .masthead_employer{
    position: relative;
    height: 60vh;
    width: 100%;
    border-radius: 5px;
    background-color: #f8f9fa;
    background: linear-gradient(#e06a00, rgba(0, 0, 0, 0.3S56)), url(/static/images/pcom1.png);
    background-size: cover;
    background-position: center;
    margin: 10 auto;
} */
.training {
  position: relative;
  height: 36vh;
  width: 100%;
  border-radius: 5px;
  background-color: #f8f9fa ;
  background-size: cover;
  background-position: center;
  margin: 15 auto;
  color: #fff;
}
.masthead-content {
    position: absolute;
    top: 50%;
    left: 37%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: left;
}

.masthead-content h3 {
    font-size: 1.1rem;
    margin-bottom: 1.5rem;
    width: 100%;
    margin-top: auto;
}

.masthead-content p {
    font-size: 15px;
    margin-bottom: 2rem;
    width: 100%;
    margin: auto;
  }

@media (min-width: 576px) {
    header.masthead {
      padding-top: 12rem;
      padding-bottom: 12rem;
    }
    header.masthead h3, header.masthead .h3 {
      font-size: 1.5rem;
    }
    
}

section.on-demand{
    min-height: 400px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

/*side menu*/
.text-bg-dark1 {
  color: #080808 !important;
  background-color: #05050504 !important;
  opacity: 1;
}



.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
  text-align: center;
}
.rating input {
  display: none;
}
.rating label {
  display: inline-block;
  padding: 5px;
  color: #ddd;
  font-size: 2rem;
  transition: color 0.3s;
  cursor: pointer;
}
.rating label:hover,
.rating label:hover ~ label,
.rating input:checked ~ label {
  color: #ffc107;
}


.ratio {
  position: relative;
  width: 100%;
}

.ratio::before {
  content: '';
  display: block;
  padding-top: calc(10 / 24* 100%); 
  /* Set the aspect ratio (e.g., 16:9) */
}

.embed-responsive-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.embed-responsive {
  width: 100%;
  height: 100%;
}




/***Ride preference***/

.modalCss{
  min-height: 50vh;
  min-width: 50vw;
}
.parent{
  height: 30vh;
}
.parent>.row{
  display: flex;
  align-items: center;
  height: 40%;
}
.col img{
  height:100px;
  width: 100%;
  cursor: pointer;
  transition: transform 1s;
  object-fit: cover;
}
.col label{
  overflow: hidden;
  position: relative;
}
.imgbgchk:checked + label>.tick_container{
  opacity: 1;
}
/*         aNIMATION */
.imgbgchk:checked + label>img{
  transform: scale(1.25);
  opacity: 0.3;
}
.tick_container {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  cursor: pointer;
  text-align: center;
}
.tick {
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  padding: 6px 12px;
  height: 40px;
  width: 40px;
  border-radius: 100%;
}

.custom-img {
  width: 100%; /* Set the width to 100% */
  max-height: 100px; /* Set the maximum height to 100px */
  object-fit: contain; /* Maintain aspect ratio */
}

/**/
/* @import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css");
@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap'); */
/* body{
	/* background: linear-gradient(to bottom, #7bb4c4, #008399) no-repeat; */
	/* background-size: cover;
	background-attachment: fixed;
	max-height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center; */
	/* font-family: 'Nunito', sans-serif; 
} */
/* h1{
	color: #fff;
	text-shadow: 4px 4px 10px #008399;
	text-align: center;
	text-transform: uppercase;
	font-size: 25px;
} */
.social-media{
	align-items: center;
	display: flex;
	transition: transform 0.3s ease-in-out;
}
.social-media:hover{
	transform: translateX(calc(-100% + 60px));
}

.social-media i{
	color: #fff;
	font-size: 15px;
	padding: 10px;
	text-align: center;
	width: 30px;
}
.social-media a{
	color: #fff;
	padding: 0 5px;
	text-align: center;
	text-decoration: none;
}
.social-media-container{
	top: 50%;
	list-style-type: none;
	padding: 0;
	position: fixed;
	left: calc(100% - 35px);
	transform: translateY(-50%);
	min-width: 250px;
}

.social-media.blog{
	background-color: #014592;
}

.social-media.pinterest{
	background-color: #fdfbfb;
  color: #014592;
}
.social-media.linkedin{
	background-color: #007;
}
.social-media.instagram{
	background-color: #c13584;
}
.social-media.github{
	background-color: #333;
}



/*FAQ*/
.bgFaq{
  background-color: #080808;
  color: #ffff;
}
.accordion1 {
  width: 90%;
  max-width: 1000px;
  margin: 2rem auto;
}
.accordion1-item {
  background-color: #fff;
  color: #111;
  margin: 1rem 0;
  border-radius: 0.5rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
}
.accordion1-item-header {
  padding: 0.5rem 3rem 0.5rem 1rem;
  min-height: 3.5rem;
  line-height: 1.25rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;

}
.accordion1-item-header::after {
  content: "\002B";
  font-size: 2rem;
  position: absolute;
  right: 1rem;
}
.accordion1-item-header.active::after {
  content: "\2212";
}
.accordion1-item-body {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.accordion1-item-body-content {
  padding: 1rem;
  line-height: 1.5rem;
  border-top: 1px solid;
  border-image: linear-gradient(to right, transparent, #34495e, transparent) 1;
}

@media (max-width: 767px) {
  html {
    font-size: 14px;
  }
}
