{% extends 'pages/employee_dashboard.html' %}
{% load static %}
{% load user_tags %}
{% block title %}EWallet Detail{% endblock %}
{% block dashboard_employee %}
    <!-- Example Code -->
    <div class="col-xl-6 col-lg-6">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-2 d-flex flex-row align-items-center justify-content-between">
                <h6>{{e_wallet.user.username|capfirst}} eWallet Detail</h6>
                <div class="btn-group gap-2">
                    <a href="{% url 'employee:e_wallet_update' slug=e_wallet.slug %}" class="btn btn-sm btn-outline-success">Edit</a>
                    <a href="{% url 'employee:e_wallet_list' %}" class="btn btn-sm btn-outline-primary">Back</a>
                </div>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <dl class="row">
                    <dt class="col-sm-4">Name :</dt>
                    <dd class="col-sm-8">{{ e_wallet.e_wallet_name }}</dd>
                    <dt class="col-sm-4">Account Email :</dt>
                    <dd class="col-sm-8">{{ e_wallet.account_email }}</dd>
                  </dl>
            </div>   
        </div>
    </div>
<!-- End Example Code -->
{% endblock %}




   




  

