extends 'pages/employee_dashboard.html' %}
{% load static %}
{% load user_tags %}
{% block title %}Experience Information {% endblock %}
{% block dashboard_employee %}
    <!-- Example Code -->
        <div class="col-xl-8 col-lg-6">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-2 d-flex flex-row align-items-center justify-content-between">
                    <h6>Experience List</h6>
                    <div class="btn-group gap-1">
                    {% if not safetyVideoTest %}
                     <a class="btn btn-sm btn-outline-primary" href="{% url 'employee:profile_building_progress' %}">Create</a>
                    {% endif %}
                    <a class="btn btn-sm btn-outline-secondary" href="{% url 'employee:profile_building_progress' %}">Back</a>
                    </div>
                </div>
                <!-- Card Body -->
                {% if safetyVideoTest %}
                <div class="card-body">
                    <ul class="list-unstyled ">
                        {% for safetTest in safetyVideoTest %}
                        <li >
                            <div class="py-3 d-flex flex-row align-items-center justify-content-between">
                                <div>
                                   <img class="rounded mr-3 align-self-center" src="https://www.gravatar.com/avatar?d=mp&s=50" />
                                   <a href="{% url 'employee:safetyVideoTest_detail' pk=safetTest.id %}">
                                    <i class="bi bi-arrows-fullscreen px-1"></i>
                                   </a>
                                   
                                </div>
                                <div class="d-flex flex-row align-items-center justify-content-between gap-2">
                                   
                                    <a class="btn btn-sm btn-outline-warning"
                                     href="{% url 'employee:safetyVideoTest_detail' pk=safetTest.id %}"><i class="bi bi-pen"></i> </a>
                                     {% if user.is_authenticated and user|is_admin %}
                                     <a class="btn btn-sm btn-outline-danger" 
                                        href="{% url 'employee:safetyVideoTest_delete' pk=safetTest.id %}">Delete</a>
                                    {% endif %}
                                    </div>
                            </div>
                        </li>
                        {% empty %}
                        <li>No safetyVideoTest found.</li>
                        {% endfor %}
                    </ul>  
                </div>
                {% endif %}
            </div>
        </div>
    <!-- End Example Code -->
{% endblock %}