{% extends "_base.html" %}
{% load crispy_forms_tags %} 
{% block title %}Testimonial form{% endblock %}
{% block main %}
<div class="my-3 py-4">
  <div class="card text-start m-auto mb-3" style="max-width: 30rem">
    <div class="card-header">
      <h5>{% if is_create %}Create new{% else %}Update{% endif %} Testimonial</h5>
    </div>
    <div class="card-body ">
      <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-sm btn-outline-warning">{% if is_create %}Create{% else %}Update{% endif %}</button>
        <a href="{% url 'testimonial:testimonial_list' %}" class="btn btn-sm btn-outline-secondary">Cancel</a>
      </form>
    </div>
</div>
</div>

{% endblock %}