{% extends "_base.html" %}

{% block title %}TestimonialListView{% endblock %}
{% block main %}
<div class="container">
  <div class="my-4 py-5">
    <div class="d-flex justify-content-between gap-1 py-1 px-3">
        <h6>Discover Our Identity, Now!</h6>
        {% if user.is_authenticated1 %}
         <a class="btn btn-sm btn-outline-warning" href="{% url 'testimonial:testimonial_create'%}"><i class="bi bi-plus-square px-1"></i>Add Testimonial</a>
        {% endif %}
    </div>
    <div class="px-3"><small>Discover our true identity through this testimonials.</small></div>
    <hr>
    {% if testimonials %}
    <div class="row  row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xlg-6 g-4 my-2">
        {% for list in  testimonials %}
       
            <div class="col">
                <div class="card shadow">
                <div class="card-body">
                    <a href="{% url 'testimonial:testimonial_detail' pk=list.id %}">
                    <div class="ratio" style="--bs-aspect-ratio: 50%;">
                        <img width="" height="" src="{{ list.image.url }}" alt="Logo" class="img-fluid" > 
                    </div>
                    
                    <div class="d-flex justify-content-between py-1">
                        <small class="card-title text-dark">{{list.author|capfirst}}-{{list.title}}</small>
                        <div class="px-1" >
                            <a class="text-warning" href="{% url 'testimonial:testimonial_update' pk=list.id %}"><i class="bi bi-pencil-square"></i></a>
                            <a class="text-danger" href="{% url 'testimonial:testimonial_delete' pk=list.id %}"><i class="bi bi-trash"></i></a>
                        </div>
                        
                    </div>
                    </a>
                    <div class="d-flex justify-content-between gap-1">
                        <small class="text-muted">{{list.view_count}} viewrs </small>
                        <small class="text-muted">{{list.created_at|timesince}}</small>
                    </div>
                    
                </div>
                </div>
            </div>
       
        {% endfor %}
    </div>
    {% else %}
    <div class="row row-cols-1 row-cols-md-12">
        <div class="col">
            <div class="card shadow">
              <div class="card-header bg-warning">Opps Sorry for now , the system can't access the data for same reason , we well geat you know soon! try agin.</div>
              <div class="card-body">
              <div class="ratio ratio-9x9 my-1">
              <img scr="" calss="">
              </div>
                <h6 class="card-title">About JobDogg </h6>
                <div class="d-flex d-flex justify-content-between gap-2">
                <small class="text-muted">viewrs </small>
                <small class="text-muted">3 mins ago</small>
              </div>
              </div>
            </div>
          </div>
    </div>
    {% endif %}
  </div>
</div>
{% endblock %}