{% extends "_base.html" %}

{% block title %}Testimonial Detail{% endblock %}
{% block main %}
 
  <!-- Example Code -->
    
  <div class="my-4 py-4" >

    <!-- Page Content-->
    <div class="px-2 px-lg-3">
        <!-- Heading Row-->
        <div class="row gx-2 gx-lg-3 align-items-center my-4">
            <div class="col-lg-7">
                {% if testimonialDetailView.video_url %}
                <div class="ratio" style="--bs-aspect-ratio: 50%;">
                    <iframe width="800" height="400" src="{{ testimonialDetailView.video_url }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
                {% else %}
                    <img class="img-fluid rounded mb-4 mb-lg-0" src="https://dummyimage.com/900x400/dee2e6/6c757d.jpg" alt="{{ testimonialDetailView.author}}" />
                {% endif %}
             </div>   
            <div class="col-lg-5">
                <h5 class="font-weight-light py-2">{{testimonialDetailView.author}}</h5>
                <p>{{testimonialDetailView.description}}</p>
                <a class="btn btn-sm btn-outline-secondary" href="#!">Call to Action!</a>
                <div class="d-flex d-flex justify-content-between gap-2 pt-5">
                    <small class="text-muted">{{testimonialDetailView.views_count}} viewrs </small>
                    <small class="text-muted">{{testimonialDetailView.created_at}}</small>
                </div>
            </div>
        </div>
        <!-- Call to Action-->
        <div class="card text-white bg-secondary my-5 py-4 text-center">
            <div class="card-body"><p class="text-white m-0">This call to action card is a great place to showcase some important information or display a clever tagline!</p></div>
        </div>
        <!-- Content Row-->
        {% if related_entries %}
        
        
        <div class="row gx-4 gx-lg-5">
            {% for testimonial in  related_entries%}
            <div class="col-md-4 mb-5">
                <div class="card h-100">
                    <div class="card-body">
                        <div class="ratio" style="--bs-aspect-ratio: 50%;">
                            <iframe width="600" height="300" src="{{ testimonial.video_url }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                        </div>
                    </div>
                    <div class="card-footer"><a class="btn btn-primary btn-sm" href="#!">More Info</a></div>
                </div>
            </div>
            {% endfor %}
           
        </div>
    </div>
    {% endif %}
    <!--  
    <div class="row row-cols-1 row-cols-md-12">
        <div class="col"> 
            <div class="row row-cols-1 row-cols-md-1">
                <div class="col-8">
                    <div class="card shadow">
                        <h6 class="card-title mx-4 my-2">{{testimonialDetailView.author}}</h6>
                        <div class="card-body">
                            <div class="ratio " >
                                <iframe width="400" height="200" src="{{ testimonialDetailView.video_url }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen>
        
                                </iframe>
                            
                            </div>
                            <h6 class="card-title">{{testimonialDetailView.description}}</h6>
                            <div class="d-flex d-flex justify-content-between gap-2">
                                <small class="text-muted">{{testimonialDetailView.views_count}} viewrs </small>
                                <small class="text-muted">{{testimonialDetailView.created_at}}</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card ">
                        <h6 class="card-title mx-4 my-2">{{testimonialDetailView.author}}</h6>
                        <div class="card-body">
                            
                            <h6 class="card-title">{{testimonialDetailView.description}}</h6>
                            <div class="d-flex d-flex justify-content-between gap-2">
                                <small class="text-muted">{{testimonialDetailView.views_count}} viewrs </small>
                                <small class="text-muted">{{testimonialDetailView.created_at}}</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          
        </div>
       
    </div>
    -->
</div>
<!-- End Code -->
  
{% endblock %}