{% extends 'pages/employee_dashboard.html' %}
{% load static %}
{% load user_tags %}
{% block title %}Card Detail{% endblock %}
{% block dashboard_employee %}
    <!-- Example Code -->
    <div class="col-xl-6 col-lg-6">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-2 d-flex flex-row align-items-center justify-content-between">
                <h5>{{card.user.username|capfirst}} Card Details</h5>
                <div>
                    <a href="{% url 'employee:card_update' slug=card.slug %}" class="btn btn-sm btn-outline-success">Edit</a>
                    <a href="{% url 'employee:card_list' %}" class="btn btn-sm btn-outline-primary">Back</a>
                </div>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <div class="row mt-2">
                    <div class="col-md-12">
                        <dl class="row">
                            <dt class="col-sm-4">Card Type :</dt>
                            <dd class="col-sm-8">{{ card.get_card_type_display }}</dd>
                             
                            <dt class="col-sm-4">Name on Card :</dt>
                            <dd class="col-sm-8">{{ card.name_on_card }}</dd>
        
                            <dt class="col-sm-4">Card Number :</dt>
                            <dd class="col-sm-8">{{ card.card_number }}</dd>
        
                            <dt class="col-sm-4">Expiration Date :</dt>
                            <dd class="col-sm-8">{{ card.expiration_date }}</dd>
        
                            <dt class="col-sm-4">CVV :</dt>
                            <dd class="col-sm-8">{{ card.cvv }}</dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- End Example Code -->
{% endblock %}



