{% extends 'pages/employee_dashboard.html' %}
{% load user_tags %}
{% load static %}
{% block dashboard_employee %}
<div class="col-xl-9 col-lg-8">
    <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">Employee Preferences Detail</h6>
            <div class="dropdown no-arrow">
                <a class="btn btn-sm btn-outline-primary" href="{% url 'employee:employee-preferences-list' %}">Back</a>
                
            </div>
        </div>
        <!-- Card Body -->
        <div class="card-body">
            <div>
                <div class="table-responsive ">
                    <table class="table table-sm">
                        
                        <tr>
                            <th>User</th>
                            <td>{{ preferences.user }}</td>
                        </tr>
                        <tr>
                            <th>Minimum Salary</th>
                            <td>{{ preferences.minimum_salary }}</td>
                        </tr>
                        <tr>
                            <th>Salary Type</th>
                            <td>{{ preferences.get_salary_type_display }}</td>
                        </tr>
                        <tr>
                            <th>Location</th>
                            <td>{{ preferences.location }}</td>
                        </tr>
                        <tr>
                            <th>Relocatable</th>
                            <td>{{ preferences.get_can_relocation_display }}</td>
                        </tr>
                        <tr>
                            <th>Arrangement preference</th>
                            <td>{{ preferences.work_arrangement_preference }}</td>
                        </tr>
                        <tr>
                            <th>Job Type</th>
                            <td>{{ preferences.get_job_type_display }}</td>
                        </tr>
                        
                        <tr>
                            <th>Years of Experience</th>
                            <td>{{ preferences.years_of_experience }}</td>
                        </tr>
                        <tr>
                            <th>Category</th>
                            <td>{{ preferences.category }}</td>
                        </tr>
                        <tr>
                            <th>Desired Positions</th>
                            <td>
                            <ul class="list-unstyled">
                                {% for position in preferences.desired_positions.all %}
                                <li>{{ position }}</li>
                                {% empty %}
                                <li>No desired positions found.</li>
                                {% endfor %}
                            </ul>
                            </td>
                        </tr>
                        <tr>
                            <th>Skills</th>
                            <td>
                            <ul class="list-unstyled">
                                {% for skill in preferences.skills.all %}
                                <li>{{ skill }}</li>
                                {% empty %}
                                <li>No skills found.</li>
                                {% endfor %}
                            </ul>
                            </td>
                        </tr>
                        {% if preferences.custom_positions %}
                        <tr>
                            <th>Custom Positions</th>
                            <td>{{ preferences.custom_positions }}</td>
                        </tr>
                        {% endif %}
                        {% if preferences.custom_skills %}
                        <tr>
                            <th>Custom Skills</th>
                            <td>{{ preferences.custom_skills }}</td>
                        </tr>
                        {% endif %}
                    </table>
                </div>
            </div>
        </div>
        <div class="card-footer">
             <a class="btn btn-sm btn-outline-primary" href="{% url 'employee:employee-preferences-list' %}">Back</a>
        </div>
    </div>
</div>
{% endblock %}
