{% extends 'pages/employee_dashboard.html' %}
{% load static %}
{% load custom_filters %}
{% block title %}Basic Information Detail{% endblock %}
{% block dashboard_employee %}
    <!-- Example Code -->
        <div class="col-xl-8 col-lg-6">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-2 d-flex flex-row align-items-center justify-content-between">
                    <h5>Basic Information Detail</h5>
                    <a class="btn btn-sm btn-outline-primary" href="{% url 'employee:basic_information_list' %}">Back</a>
                </div>
                 <!-- Card Body -->
                <div class="card-body">
                  
                    <div class="table-responsive">
                        <table class="table table-sm">
                            <tr>
                                <th>Name</th>
                                <td>{{ object.user.username|capfirst }}</td>
                            </tr>
                            
                            <tr>
                                <th>User</th>
                                <td>{{ object.user|capfirst }}</td>
                            </tr>
                            <tr>
                                <th>Email</th>
                                <td>{{ object.email }}</td>
                            </tr>
                            <tr>
                                <th>Address</th>
                                <td>{{ object.address }}</td>
                            </tr>
                            <tr>
                                <th>Apartment</th>
                                <td>{{ object.apartment}}</td>
                            </tr>
                            <tr>
                                <th>City</th>
                                <td>{{ object.city }}</td>
                            </tr>
                            <tr>
                                <th>State</th>
                                <td>{{ object.state }}</td>
                            </tr>
                            <tr>
                                <th>Zip Code</th>
                                <td>{{ object.zip_code }}</td>
                            </tr>
                            <tr>
                                <th>Cell Phone</th>
                                <td>{{ object.cell_phone|format_phone_number }}</td>
                            </tr>
                            <tr>
                                <th>Home Phone</th>
                                <td>{{ object.home_phone|format_phone_number }}</td>
                            </tr>
                            <tr>
                                <th>Work Phone</th>
                                <td>{{ object.work_phone }}</td>
                            </tr>
                            <tr>
                                <th>Emergency Contact Number</th>
                                <td>{{ object.emergency_contact_number|format_phone_number }}</td>
                            </tr>
                            <tr>
                                <th>Emergency Contact Name</th>
                                <td>{{ object.emergency_contact_name }}</td>
                            </tr>
                        </table>
                    </div>
                    
                </div>  
            </div>
        </div>
    <!-- End Example Code -->
{% endblock %}