{% extends 'pages/employee_dashboard.html' %}
{% load static %}
{% load user_tags %}
{% block title %}Basic Information List {% endblock %}
{% block dashboard_employee %}
    <!-- Example Code -->
        <div class="col-xl-6 col-lg-6">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-2 d-flex flex-row align-items-center justify-content-between">
                    <h6>Basic Information </h6>
                    <div class="btn-group">
                    <a class="btn btn-sm btn-outline-secondary" href="{% url 'employee:profile_building_progress' %}">Back</a>
                    {% if not basic_information %}
                    <a class="btn btn-sm btn-outline-primary" href="{% url 'employee:basic_information_create'  %}">Create</a>
                    {% endif %}
                    </div>
                </div>
                <!-- Card Body -->
                <div class="card-header">
                    <ul class="list-unstyled ">
                        {% for basic_inf in basic_information %}
                        <li >
                            <div class="py-3 px-2 d-flex flex-row align-items-center justify-content-between">
                               
                                <div>
                                    <!--{{ user.username }}-->
                                    {% if user.avatar and not form.avatar.errors %}
                                    <img src="{{ user.avatar.url }}" alt="Avatar" width="30" height="30" class="rounded mr-3 align-self-center img-fluid shadow"/>
                                    {% else %}
                                    <img class="rounded mr-3 align-self-center img-fluid shadow" src="{% static 'images/userPlaceHolder.png' %}" alt="Logo" width="30" height="40"/>
                                    {% endif %}
                                    <a href="{% url 'employee:basic_information_detail' slug=basic_inf.slug %}" class="text-dark text-decoration-none ">
                                        {{ basic_inf.user.username|capfirst}} <i class="bi bi-box-arrow-in-up-right px-1"></i>
                                    </a>
                                </div>
                                <div class="d-flex flex-row align-items-center justify-content-between gap-2">
                                    <a class="btn btn-sm btn-outline-warning" href="{% url 'employee:basic_information_update' slug=basic_inf.slug %}"><i class="bi bi-pen"></i></a>
                                    {% if user.is_authenticated and user|is_admin %}
                                        <a class="btn btn-sm btn-outline-danger" 
                                        href="{% url 'employee:basic_information_delete' slug=basic_inf.slug %}">Delete</a>
                                    {% endif %}
                                </div>
                            </div>
                        </li>
                        {% empty %}
                        <li>No basic information available.</li>
                        {% endfor %}
                    </ul>  
                </div>
               
            </div>
        </div>
    <!-- End Example Code -->
{% endblock %}