{% extends 'pages/employee_dashboard.html' %}
{% load static %}
{% block title %}Basic Information Detail{% endblock %}
{% block dashboard_employee %}
    <!-- Example Code -->
        <div class="col-xl-8 col-lg-6">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-2 d-flex flex-row align-items-center justify-content-between">
                    <h5>Basic Information Detail</h5>
                    <a class="btn btn-sm btn-outline-primary" href="{% url 'employee:basic_information_list' %}">Back</a>
                </div>
                 <!-- Card Body -->
                <div class="card-body">
                    <ul class="list-unstyled list-group-flush">
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            User : 
                          <span class="">{{ object.user|capfirst }}</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            Email : 
                          <span class="">{{ object.email }}</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            Address : 
                          <span class="">{{ object.address }}</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            Apartment :
                          <span class="">{{ object.apartment}}</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            City :
                            <span class="">{{ object.city }}</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            State :
                            <span class="">{{ object.state }}</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            Zip_code : 
                            <span class="">{{ object.zip_code }}</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            Cell_phone :
                            <span class="">{{ object.cell_phone }}</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            Home_phone :
                            <span class="">{{ object.home_phone }}</span>
                        </li>
                          <li class="list-group-item d-flex justify-content-between align-items-center">
                            Work_phone :
                            <span class="">{{ object.work_phone }}</span>
                        </li>
                         
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            emergency contact number :                           
                             <span class="">{{ object.emergency_contact_number}}</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            emergency contact name :                           
                             <span class="">{{ object.emergency_contact_name}}</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                           
                        </li>
                    </ul> 
                    
                </div>  
            </div>
        </div>
    <!-- End Example Code -->
{% endblock %}