{% extends 'pages/employee_dashboard.html' %}
{% load static %}
{% load humanize %}
{% load mask_ssn %}
{% block title %}CertificationLicense Detail{% endblock %}
{% block dashboard_employee %}
    <!-- Example Code -->
        <div class="col-xl-6 col-lg-6">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-2 d-flex flex-row align-items-center justify-content-between">
                    <h5>Certification & License Detail</h5>
                    <div>
                    <a class="btn btn-sm btn-outline-success" href="{% url 'employee:certification_license_update' pk=certification_license.id %}">Edit</a>
                    <a class="btn btn-sm btn-outline-primary" href="{% url 'employee:certification_license_list' %}">Back</a>
                    </div>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                      <div class="table-responsive">
                        <table class="table table-sm">
                            <tr>
                                <th>Name</th>
                                <td>{{ object.user.username|capfirst }}</td>
                            </tr>
                           
                            <tr>
                                <th>Education</th>
                                <td>{{ certification_license.education}}</td>
                            </tr>
                            <tr>
                                <th>Document Name</th>
                                <td><a href="{{ certification_license.certification_file.url }}">{{ certification_license.document_name}}</a></td>
                            </tr>
                            <tr>
                                <th>Created</th>
                                <td>{{ certification_license.created|date }}</td>
                            </tr>
                        </table>
                    </div>
                    
                    
                </div>
                   
            </div>
        </div>
    <!-- End Example Code -->
{% endblock %}