{% extends 'pages/employee_dashboard.html' %}
{% load static %}
{% load humanize %}
{% load mask_ssn %}
{% block title %}Experience Detail{% endblock %}
{% block dashboard_employee %}
    <!-- Example Code -->
        <div class="col-xl-10 col-lg-8">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-2 d-flex flex-row align-items-center justify-content-between">
                    <h6>Experience Profile</h6>
                    <div>
                    <a class="btn btn-sm btn-outline-success" href="{% url 'employee:experience_update' slug=object.slug %}">Edit</a>
                    <a class="btn btn-sm btn-outline-primary" href="{% url 'employee:experience_list' %}">Back</a>
                    </div>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                      <div class="table-responsive">
                        <table class="table table-sm">
                            <tr>
                                <th>Name</th>
                                <td>{{ object.user.username|capfirst }}</td>
                            </tr>
                            <tr>
                                <th>Company Name</th>
                                <td>{{ object.company_name }}</td>
                            </tr>
                            <tr>
                                <th>Company Phone</th>
                                <td>{{ object.company_phone|format_phone_number }}</td>
                            </tr>
                            <tr>
                                <th>Job Title</th>
                                <td>{{ object.job_title }}</td>
                            </tr>
                            <tr>
                                <th>Start Date</th>
                                <td>{{ object.start_date|date }}</td>
                            </tr>
                            {% if object.end_date %}
                            <tr>
                                <th>End Date</th>
                                <td>{{ object.end_date|date }}</td>
                            </tr>
                            {% else %}
                            <tr>
                                <th>Is Current?</th>
                                <td>{{ object.is_current }}</td>
                            </tr>
                            {% endif %}
                            <tr>
                                <th>Description</th>
                                <td>{{ object.description }}</td>
                            </tr>
                            <tr>
                                <th>Created</th>
                                <td>{{ object.created|date }}</td>
                            </tr>
                        </table>
                    </div>
                    
                </div>
                   
            </div>
        </div>
    <!-- End Example Code -->
{% endblock %}