{% extends 'pages/employee_dashboard.html' %}
{% load static %}
{% load humanize %}
{% load mask_ssn %}
{% block title %}Military Detail{% endblock %}
{% block dashboard_employee %}
    <!-- Example Code -->
        <div class="col-xl-6 col-lg-6">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-2 d-flex flex-row align-items-center justify-content-between">
                    <h5>Military Profile</h5>
                    <div>
                    <a class="btn btn-sm btn-outline-success" href="{% url 'employee:military_update' slug=object.slug %}">Edit</a>
                    <a class="btn btn-sm btn-outline-primary" href="{% url 'employee:military_list' %}">Back</a>
                    </div>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <ul class="list-unstyled list-group-flush">
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                          Name: 
                          <span class="">{{ object.user.username|capfirst }}</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            Branch : 
                          <span class="">{{ object.branch}}</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            Rank.
                          <span class="">{{ object.rank }}</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            Discharge_year :
                            <span class="">{{ object.discharge_year|date }}</span>
                          </li>
                          <li class="list-group-item d-flex justify-content-between align-items-center">
                            duty_flag :
                            <span class="">{{ object.duty_flag }}</span>
                          </li>
                          <li class="list-group-item d-flex justify-content-between align-items-center">
                            {% if object.certification_license %}
                              Certification License: <a href="{{ object.certification_license.url }}">{{ object.certification_license }}</a>
                            {% else %}
                              Certification License: <a href="">Not available</a>
                            {% endif %}
                          </li>
                          
                          <li class="list-group-item d-flex justify-content-between align-items-center">
                            created: 
                            <span class="">{{ object.created|date }}</span>
                          </li>
                          <li class="list-group-item d-flex justify-content-between align-items-center">
                           
                          </li>
                      </ul>
                      
                    
                </div>
                   
            </div>
        </div>
    <!-- End Example Code -->
{% endblock %}