{% extends 'pages/employee_dashboard.html' %}
{% load static %}
{% load user_tags %}
{% block title %}Personal Information {% endblock %}
{% block dashboard_employee %}
    <!-- Example Code -->
        <div class="col-xl-8 col-lg-6">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-2 d-flex flex-row align-items-center justify-content-between">
                    <h5>Personal Information List</h5>
                    {% if not personal_list %}
                     <a class="btn btn-sm btn-outline-primary" href="{% url 'employee:personal_create' %}">CREATE</a>
                    {% endif %}
                </div>
                <!-- Card Body -->
                <div class="card-body">
                 
                    <ul class="list-unstyled ">
                        {% for personal in personal_list %}
                        <li >
                            <div class="py-3 d-flex flex-row align-items-center justify-content-between">
                                <div>
                                   <img class="rounded mr-3 align-self-center" src="https://www.gravatar.com/avatar?d=mp&s=50" />
                                   <a href="{% url 'employee:personal_detail' slug=personal.slug %}">{{ personal.nickname|upper}}</a>
                                   
                                </div>
                                <div class="d-flex flex-row align-items-center justify-content-between gap-2">
                                    <a class="btn btn-sm btn-outline-warning"
                                     href="{% url 'employee:personal_update' slug=personal.slug %}">Update</a>
                                     {% if user.is_authenticated and user|is_admin %}
                                     <a class="btn btn-sm btn-outline-danger" 
                                        href="{% url 'employee:personal_delete' slug=personal.slug %}">Delete</a>
                                    {% endif %}
                                    </div>
                            </div>
                        </li>
                        {% empty %}
                        <li>No personal profiles found.</li>
                        {% endfor %}
                    </ul>  
                </div>
               
            </div>
        </div>
    <!-- End Example Code -->
{% endblock %}