{% extends 'pages/employee_dashboard.html' %}
{% load static %}
{% load humanize %}
{% load mask_ssn %}
{% block title %}Basic Personal Detail{% endblock %}
{% block dashboard_employee %}
    <!-- Example Code -->
        <div class="col-xl-6 col-lg-6">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-2 d-flex flex-row align-items-center justify-content-between">
                    <h5>Personal Profile</h5>
                    <div>
                    <a class="btn btn-sm btn-outline-success" href="{% url 'employee:personal_update' slug=object.slug %}">Edit</a>
                    <a class="btn btn-sm btn-outline-primary" href="{% url 'employee:personal_list' %}">Back</a>
                    </div>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                      <div class="table-responsive">
                        <table class="table table-sm">
                            <tr>
                                <th>Name</th>
                                <td>{{ object.user.username|capfirst }}</td>
                            </tr>
                            <tr>
                                <th>Nickname</th>
                                <td>{{ object.nickname|capfirst }}</td>
                            </tr>
                            <tr>
                                <th>Social Security</th>
                                <td>{{ object.social_security_number|mask_ssn }}</td>
                            </tr>
                            <tr>
                                <th>Driver's License No.</th>
                                <td>{{ object.drivers_license_number }}</td>
                            </tr>
                            <tr>
                                <th>Driver's License State</th>
                                <td>{{ object.get_drivers_license_state_display }}</td>
                            </tr>
                            <tr>
                                <th>Date of Birth</th>
                                <td>{{ object.date_of_birth }}</td>
                            </tr>
                            <tr>
                                <th>Gender</th>
                                <td>{{ object.get_gender_display|capfirst }}</td>
                            </tr>
                            <tr>
                                <th>Languages</th>
                                <td>
                                    <ul class="list-unstyled">
                                        {% for language in object.languages.all %}
                                            <li><span class="px-2">{{ language.name|capfirst }}</span></li>
                                        {% empty %}
                                            <li>No languages specified.</li>
                                        {% endfor %}
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <th>E-Verify</th>
                                <td>{{ object.e_verify }}</td>
                            </tr>
                        </table>
                    </div>
                    
                </div>   
            </div>
        </div>
    <!-- End Example Code -->
{% endblock %}






