{% extends 'pages/employee_dashboard.html' %}
{% load user_tags %}
{% load static %}
{% block dashboard_employee %}
<div class="col-xl-8 col-lg-7">
    <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div
            class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">Earnings Overview</h6>
            <div class="dropdown no-arrow">
                <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                    aria-labelledby="dropdownMenuLink">
                    <div class="dropdown-header">Dropdown Header:</div>
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </div>
        </div>
        <!-- Card Body -->
        <div class="card-body">
            <div class="">
                <h1>{{ object.title }}</h1>
                    <p>{{ object.description }}</p>
                    
                        {% if user.is_authenticated and user|is_employee %}
                            {% if not user_accepted_policy %}
                            <a href="{% url 'employee:policies_accept' object.slug %}" class="btn btn-primary">Accept</a>
                            {% else %}
                            <p>You have accepted this policy.</p>
                            {% endif %}
                        {% endif %}
                        {% if user.is_authenticated and user|is_admin %}
                        <a href="{% url 'employee:policies_update' object.slug %}" class="btn btn-primary">Update</a>
                        <a href="{% url 'employee:policies_delete' object.slug %}" class="btn btn-danger">Delete</a>
                        {% endif %}
            </div>
        </div>
    </div>
</div>


{% endblock %}

 

