.border-warning1{
    border-color: #e06a00;
}


.body_cover {
    box-sizing: border-box;
    background: linear-gradient(to right bottom, #000046, #5B86E5);
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
  }

.header_cover {
    width: 100%;
    height: 32%;
    background-image: url();
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
  }