{% extends 'pages/employee_dashboard.html' %}
{% load static %}
{% load user_tags %}
{% load crispy_forms_tags %}
{% block title %}Apply Filters List{% endblock %}
{% block dashboard_employee %}
<div class="container">
    <style>
        .scrollspy-job {
            height: 400px;
            margin-top: 0.5rem;
            overflow: auto;
        }
    </style>
    <div class="row">
        <!-- Area Chart -->
        <div class="col-xl-12 col-lg-10">
            <div class="card shadow mb-1">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">
                        <i class="bi bi-front bd-placeholder-img flex-shrink-0 me-2 rounded fs-5 text-info" 
                        width="32" height="32"></i> {{ job.industry|title }} Detail 
                    </h6>
                    <div class="d-flex text-muted justify-content-between gap-2">
                        <i class="bi bi-align-end bd-placeholder-img flex-shrink-0 me-2 rounded fs-5 text-info"></i>
                        <p class="mb-0 py-2 small lh-sm">
                            <strong class="d-block text-gray-dark">
                            [ {{ job.number_views }} ] Applayed</strong>
                        </p> 
                        
                        <p class="mb-0 py-2 small lh-sm">
                            <strong class="d-block text-gray-dark">
                            [ {{ job.number_views }} ] Viewers</strong>
                        </p>
                        <a href="{% url 'JobFilter:filtered-job-list' %}" class="btn btn-sm btn-outline-secondary">Back</a>
                    </div>
                    
                </div>
                <!-- Card Body -->
                <div class="card-body ">
                    <div class="row">
                        <div class="col-10">
                          <div data-bs-spy="scroll" data-bs-target="#list-example" data-bs-smooth-scroll="true" class="scrollspy-job" tabindex="0">
                            <!--<h4 id="list-item-1">Job Description</h4>-->
                            <div id="list-item-1" class="py-1  border-bottom card-header">
                                <h6>Job Description</h6></div>
                            <div class="border-bottom d-flex text-muted py-3">
                                <i class="bi bi-align-end bd-placeholder-img flex-shrink-0 me-2 rounded fs-5 text-info"></i>
                                
                                <p class="pb-3 mb-0 small lh-sm">
                                    <strong class="d-block text-gray-dark"> Job Title </strong>
                                    {% for position in job.job_title.all %}
                                    {{ position.position }}
                                    {% if not forloop.last %}, {% endif %}
                                    {% endfor %}
                                </p>
                            </div>
                            <div class="border-bottom d-flex text-muted pt-3">
                                <i class="bi bi-align-end bd-placeholder-img flex-shrink-0 me-2 rounded fs-5 text-info"></i>
                                <p class="pb-3 mb-0 small lh-sm">
                                    <strong class="d-block text-gray-dark">Job Description</strong>
                                    {{ job.job_description }}
                                </p>
                            </div>
                            {% comment %} <h4 id="list-item-2">Location</h4> {% endcomment %}
                            <div id="list-item-2" class="py-1  border-bottom card-header">
                                <h6>Location Information</h6></div>
                            <div class="border-bottom d-flex text-muted pt-3">
                                <i class="bi bi-align-end bd-placeholder-img flex-shrink-0 me-2 rounded fs-5 text-info"></i>
                                <p class="pb-3 mb-0 small lh-sm">
                                    <strong class="d-block text-gray-dark">Work Arrangement Preference</strong>
                                    {{ job.get_work_arrangement_preference_display }}
                                </p>
                            </div>
                            <div class="border-bottom d-flex text-muted pt-3">
                                <i class="bi bi-align-end bd-placeholder-img flex-shrink-0 me-2 rounded fs-5 text-info"></i>
                                <p class="pb-3 mb-0 small lh-sm">
                                    <strong class="d-block text-gray-dark">Relocatable</strong>
                                    {{ job.get_relocatable_display }}
                                </p>
                            </div>
                            <div class="border-bottom d-flex text-muted pt-3">
                                <i class="bi bi-align-end bd-placeholder-img flex-shrink-0 me-2 rounded fs-5 text-info"></i>
                                <p class="pb-3 mb-0 small lh-sm">
                                    <strong class="d-block text-gray-dark">City</strong>
                                    {{ job.city }}
                                </p>
                            </div>
                            <div class="border-bottom d-flex text-muted pt-3">
                                <i class="bi bi-align-end bd-placeholder-img flex-shrink-0 me-2 rounded fs-5 text-info"></i>
                                <p class="pb-3 mb-0 small lh-sm">
                                    <strong class="d-block text-gray-dark">Address</strong>
                                    {{ job.address1 }}
                                </p>
                            </div>
                            <div class="border-bottom d-flex text-muted pt-3">
                                <i class="bi bi-align-end bd-placeholder-img flex-shrink-0 me-2 rounded fs-5 text-info"></i>
                                <p class="pb-3 mb-0 small lh-sm">
                                    <strong class="d-block text-gray-dark">State</strong>
                                    {{ job.state }}
                                </p>
                            </div>
                            <div class="border-bottom d-flex text-muted pt-3">
                                <i class="bi bi-align-end bd-placeholder-img flex-shrink-0 me-2 rounded fs-5 text-info"></i>
                                <p class="pb-3 mb-0 small lh-sm">
                                    <strong class="d-block text-gray-dark">Zip Code</strong>
                                    {{ job.zip_code }}
                                </p>
                            </div>
                            <div id="list-item-3" class="py-1  border-bottom card-header">
                                <h6>Requirement Information</h6></div>
                                <div class="border-bottom d-flex text-muted py-3">
                                    <i class="bi bi-align-end bd-placeholder-img flex-shrink-0 me-2 rounded fs-5 text-info"></i>
                                    
                                    <p class="pb-3 mb-0 small lh-sm">
                                        <strong class="d-block text-gray-dark"> Required Skills</strong>
                                        {% for skill in job.required_skills.all %}
                                            {{ skill.skill }}
                                            {% if not forloop.last %}, {% endif %}
                                        {% endfor %}
                                        {% if job.custom_required_skills %}
                                            , {{ job.custom_required_skills }}
                                        {% endif %}
                                    </p>
                                </div>
                                
                                <div class="border-bottom d-flex text-muted pt-3">
                                    <i class="bi bi-align-end bd-placeholder-img flex-shrink-0 me-2 rounded fs-5 text-info"></i>
                                    <p class="pb-3 mb-0 small lh-sm">
                                        <strong class="d-block text-gray-dark">Minimum Experience</strong>
                                        {{ job.min_experience }}
                                    </p>
                                </div>
                                <div class="border-bottom d-flex text-muted pt-3">
                                    <i class="bi bi-align-end bd-placeholder-img flex-shrink-0 me-2 rounded fs-5 text-info"></i>
                                    <p class="pb-3 mb-0 small lh-sm">
                                        <strong class="d-block text-gray-dark">Minimum Degree Requirements</strong>
                                        {{ job.get_min_degree_requirements_display }}
                                    </p>
                                </div>
                            <div class="border-bottom d-flex text-muted pt-3">
                                <i class="bi bi-align-end bd-placeholder-img flex-shrink-0 me-2 rounded fs-5 text-info"></i>
                                <p class="pb-3 mb-0 small lh-sm">
                                    <strong class="d-block text-gray-dark">Certifications Required</strong>
                                    {{ job.certifications_required }}
                                </p>
                            </div>
                            <div class="border-bottom d-flex text-muted pt-3">
                                <i class="bi bi-align-end bd-placeholder-img flex-shrink-0 me-2 rounded fs-5 text-info"></i>
                                <p class="pb-3 mb-0 small lh-sm">
                                    <strong class="d-block text-gray-dark">Star Rating</strong>
                                    {{ job.star_rating }}
                                </p>
                            </div>
                           
                            {% comment %} <h4 id="list-item-3">Salary</h4> {% endcomment %}
                            <div id="list-item-4" class="py-1  border-bottom card-header">
                                <h6>Salary Information</h6></div>
                            <div class="border-bottom d-flex text-muted pt-3">
                                <i class="bi bi-align-end bd-placeholder-img flex-shrink-0 me-2 rounded fs-5 text-info"></i>
                                <p class="pb-3 mb-0 small lh-sm">
                                    <strong class="d-block text-gray-dark">Maximum Salary Amount</strong>
                                    {{ job.max_salary_amount }}
                                </p>
                            </div>
                           
                            
                            <div id="list-item-5" class="py-1  border-bottom card-header">
                                <h6>Contact Information</h6></div>
                            <div class="border-bottom d-flex text-muted pt-3">
                                    <i class="bi bi-align-end bd-placeholder-img flex-shrink-0 me-2 rounded fs-5 text-info"></i>
                                    <p class="pb-3 mb-0 small lh-sm">
                                        <strong class="d-block text-gray-dark">Department</strong>
                                        {{ job.department }}
                                    </p>
                            </div>
                            <div class="border-bottom d-flex text-muted pt-3">
                                    <i class="bi bi-align-end bd-placeholder-img flex-shrink-0 me-2 rounded fs-5 text-info"></i>
                                    <p class="pb-3 mb-0 small lh-sm">
                                        <strong class="d-block text-gray-dark">Contact Person</strong>
                                        {{ job.contact_person }}
                                    </p>
                            </div>       
                            <div class="border-bottom d-flex text-muted pt-3">
                                <i class="bi bi-align-end bd-placeholder-img flex-shrink-0 me-2 rounded fs-5 text-info"></i>
                                <p class="pb-3 mb-0 small lh-sm">
                                    <strong class="d-block text-gray-dark">Contact Email</strong>
                                    {{ job.contact_email }}
                                </p>
                            </div>

                            <div id="list-item-6" class="py-1  border-bottom card-header">
                                <h6>Date Information</h6></div>
                            
                                <div class="border-bottom d-flex text-muted pt-3">
                                    <i class="bi bi-align-end bd-placeholder-img flex-shrink-0 me-2 rounded fs-5 text-info"></i>
                                    <p class="pb-3 mb-0 small lh-sm">
                                        <strong class="d-block text-gray-dark">From Date</strong>
                                        {{ job.from_date }}
                                    </p>
                                </div>
                                <div class="border-bottom d-flex text-muted pt-3">
                                    <i class="bi bi-align-end bd-placeholder-img flex-shrink-0 me-2 rounded fs-5 text-info"></i>
                                    <p class="pb-3 mb-0 small lh-sm">
                                        <strong class="d-block text-gray-dark">To Date</strong>
                                        {{ job.to_date }}
                                    </p>
                                </div>
                                <div class="border-bottom d-flex text-muted pt-3">
                                    <i class="bi bi-align-end bd-placeholder-img flex-shrink-0 me-2 rounded fs-5 text-info"></i>
                                    <p class="pb-3 mb-0 small lh-sm">
                                        <strong class="d-block text-gray-dark">Start Time</strong>
                                        {{ job.start_time }}
                                    </p>
                                </div>
                                <div class="border-bottom d-flex text-muted pt-3">
                                    <i class="bi bi-align-end bd-placeholder-img flex-shrink-0 me-2 rounded fs-5 text-info"></i>
                                    <p class="pb-3 mb-0 small lh-sm">
                                        <strong class="d-block text-gray-dark">End Time</strong>
                                        {{ job.end_time }}
                                    </p>
                                </div>                          
                                
                          </div>
                        </div>
                        
                        <div class="col-2 ">
                            <div id="list-example" class="list-group gap-1">
                              <a class="list-group-item list-group-item-action" href="#list-item-1"><span class="d-none d-sm-inline-block">Job Description</span><span class="d-md-none d-lg-none"><i class="bi bi-journal-check"></i></span></a>
                              <a class="list-group-item list-group-item-action" href="#list-item-2"><span class="d-none d-sm-inline-block">Location</span><span class="d-md-none d-lg-none"><i class="bi bi-geo-alt-fill"></i></span></a>
                              <a class="list-group-item list-group-item-action" href="#list-item-3"><span class="d-none d-sm-inline-block">Required</span><span class="d-md-none d-lg-none"><i class="bi bi-award-fill"></i></span></a>
                              <a class="list-group-item list-group-item-action" href="#list-item-4"><span class="d-none d-sm-inline-block">Salary</span><span class="d-md-none d-lg-none"><i class="bi bi-coin"></i></span></a>
                              <a class="list-group-item list-group-item-action" href="#list-item-5"><span class="d-none d-sm-inline-block">Contact</span><span class="d-md-none d-lg-none"><i class="bi bi-coin"></i></span></a>
                              <a class="list-group-item list-group-item-action" href="#list-item-6"><span class="d-none d-sm-inline-block">Date</span><span class="d-md-none d-lg-none"><i class="bi bi-calendar3"></i></span></a>
                            </div>
                        </div>
                      </div>
                 
                </div>
            </div>
        </div>
    </div>
   
</div>
{% endblock %}